.x-list {
  // layout
  display: flex;
  flex-flow: var(--x-space-flow-list);

  // spacing
  gap: var(--x-space-gap-list);
  margin: 0;
  padding: var(--x-space-padding-list);
  justify-content: var(--x-space-justify-list);
  align-items: var(--x-space-align-list);

  // typography
  font-family: var(--x-font-family-text);
  font-size: var(--x-font-size-text);
  font-weight: var(--x-font-weight-text);
  line-height: var(--x-font-line-height-text);

  > * {
    min-width: 0;
    min-height: 0;
  }
}

.x-list--vertical.x-list {
  flex-flow: column nowrap;
}

.x-list--horizontal.x-list {
  flex-flow: row nowrap;
  align-items: center;
}

.x-list--wrap.x-list {
  flex-flow: row wrap;
}

.x-list--justify-stretch.x-list {
  justify-content: stretch;
}

.x-list--justify-center.x-list {
  justify-content: center;
}

.x-list--justify-end.x-list {
  justify-content: flex-end;
}

.x-list--justify-start.x-list {
  justify-content: flex-start;
}

.x-list--align-stretch.x-list {
  align-items: stretch;
}

.x-list--align-center.x-list {
  align-items: center;
}

.x-list--align-baseline.x-list {
  align-items: baseline;
}

.x-list--align-end.x-list {
  align-items: flex-end;
}

.x-list--align-start.x-list {
  align-items: flex-start;
}

.x-list {
  .x-list__item--expanded {
    flex: 1 1 auto;
  }

  @for $i from 1 through 12 {
    .x-list-item-#{$i} {
      flex: $i #{13 - $i} auto;
    }
  }
}
