.x-list--gap-02.x-list {
  --x-space-gap-list: var(--x-space-gap-list-02);
}

.x-list--gap-03.x-list {
  --x-space-gap-list: var(--x-space-gap-list-03);
}

.x-list--gap-04.x-list {
  --x-space-gap-list: var(--x-space-gap-list-04);
}

.x-list--gap-05.x-list {
  --x-space-gap-list: var(--x-space-gap-list-05);
}

.x-list--gap-06.x-list {
  --x-space-gap-list: var(--x-space-gap-list-06);
}
