:root {
  --x-space-gap-list-02: var(--x-space-02);
  --x-space-gap-list-03: var(--x-space-03);
  --x-space-gap-list-04: var(--x-space-04);
  --x-space-gap-list-05: var(--x-space-05);
  --x-space-gap-list-06: var(--x-space-06);
  --x-space-gap-list-07: var(--x-space-07);
}
