.x-list--padding-02.x-list {
  --x-space-padding-list: var(--x-space-padding-list-02);
}

.x-list--padding-03.x-list {
  --x-space-padding-list: var(--x-space-padding-list-03);
}

.x-list--padding-04.x-list {
  --x-space-padding-list: var(--x-space-padding-list-04);
}

.x-list--padding-05.x-list {
  --x-space-padding-list: var(--x-space-padding-list-05);
}

.x-list--padding-06.x-list {
  --x-space-padding-list: var(--x-space-padding-list-06);
}
