:root {
  // color
  --x-color-border-result-picture-default: var(--x-color-border-result-default);

  // size
  --x-size-padding-result-picture-default: 0;

  // border
  --x-size-border-width-result-picture-default: 0;
}
