.x-option-list--bottom.x-option-list,
.x-option-list--bottom .x-option-list {
  // color
  --x-color-border-option-list-item: var(--x-color-border-option-list-item-bottom);
  --x-color-text-option-list-button-hover: var(--x-color-text-option-list-button-bottom-hover);

  // border
  --x-border-bottom-width-option-list-item: var(--x-border-bottom-width-option-list-item-bottom);
  --x-border-bottom-width-option-list-item-selected: var(
    --x-border-bottom-width-option-list-item-bottom-selected
  );

  // typography
  --x-font-decoration-option-list-button-hover: var(
    --x-font-decoration-option-list-button-bottom-hover
  );
  --x-font-weight-option-list-button-selected: var(
    --x-font-weight-option-list-button-bottom-selected
  );
}
