.x-picture--cover {
  &:hover {
    &:after {
      // color
      background: linear-gradient(
        to bottom,
        var(--x-color-background-result-image-cover-hover-from) 50%,
        var(--x-color-background-result-image-cover-hover-to) 100%
      );

      // size
      width: 100%;
      height: 100%;

      // layout
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      // other
      content: '';
    }
  }
}
