:root {
  // border
  --x-border-radius-picture: 0;

  // color
  --x-color-background-picture: transparent;

  // others
  --x-object-fit-picture-image: contain;
  --x-object-fit-picture-image-fallback: var(--x-object-fit-picture-image);
  --x-object-fit-picture-image-placeholder: var(--x-object-fit-picture-image);
  --x-mix-blend-mode-picture-image: none;
  --x-mix-blend-mode-picture-image-fallback: var(--x-mix-blend-mode-picture-image);
  --x-mix-blend-mode-picture-image-placeholder: var(--x-mix-blend-mode-picture-image);
}
