:root {
  //layout
  --x-number-columns-layout: 5;
  --x-space-max-width-layout: 1440px;
  --x-space-min-margin-layout: var(--x-space-07);
  --x-space-column-gap-layout: var(--x-space-06);

  //spacing

  // spacing - header
  --x-space-padding-top-layout-header: var(--x-space-06);
  --x-space-padding-bottom-layout-header: var(--x-space-05);
  --x-space-margin-top-layout-header: 0;
  --x-space-margin-bottom-layout-header: var(--x-space-05);

  --x-space-flow-layout-header-start: row nowrap;
  --x-space-justify-layout-header-start: flex-start;
  --x-space-align-layout-header-start: flex-start;

  --x-space-flow-layout-header-middle: row nowrap;
  --x-space-justify-layout-header-middle: center;
  --x-space-align-layout-header-middle: flex-start;

  --x-space-flow-layout-header-end: row nowrap;
  --x-space-justify-layout-header-end: flex-end;
  --x-space-align-layout-header-end: flex-start;

  // spacing - empathize
  --x-space-padding-top-layout-empathize: var(--x-space-05);
  --x-space-padding-bottom-layout-empathize: var(--x-space-06);
  --x-space-margin-top-layout-empathize: 0;
  --x-space-margin-bottom-layout-empathize: var(--x-space-06);

  --x-space-flow-layout-empathize: row nowrap;
  --x-space-justify-layout-empathize: flex-start;
  --x-space-align-layout-empathize: flex-start;

  // spacing - toolbar
  --x-space-padding-top-layout-toolbar: 0;
  --x-space-padding-bottom-layout-toolbar: 0;
  --x-space-margin-top-layout-toolbar: 0;
  --x-space-margin-bottom-layout-toolbar: 0;

  --x-space-flow-layout-toolbar-aside: row nowrap;
  --x-space-justify-layout-toolbar-aside: flex-start;
  --x-space-align-layout-toolbar-aside: center;

  --x-space-flow-layout-toolbar-body: row nowrap;
  --x-space-justify-layout-toolbar-body: flex-end;
  --x-space-align-layout-toolbar-body: center;

  // spacing - main
  --x-space-padding-top-layout-main: 0;
  --x-space-padding-bottom-layout-main: 0;
  --x-space-margin-top-layout-main: 0;
  --x-space-margin-bottom-layout-main: 0;

  --x-space-flow-layout-main-aside: column nowrap;
  --x-space-justify-layout-main-aside: flex-start;
  --x-space-align-layout-main-aside: stretch;

  --x-space-flow-layout-main-body: column nowrap;
  --x-space-justify-layout-main-body: flex-start;
  --x-space-align-layout-main-body: stretch;

  // color
  --x-color-background-layout: var(--x-color-neutral-100);
  --x-color-background-layout-header: transparent;
  --x-color-background-layout-empathize: transparent;
  --x-color-background-layout-toolbar: transparent;
  --x-color-background-layout-main: transparent;
  --x-color-background-layout-main-aside: transparent;
  --x-color-background-layout-main-body: transparent;
  --x-color-border-layout: var(--x-color-neutral-70);
  --x-color-border-layout-header: var(--x-color-border-layout);
  --x-color-border-layout-empathize: var(--x-color-border-layout);
  --x-color-border-layout-toolbar: var(--x-color-border-layout);
  --x-color-border-layout-main: var(--x-color-border-layout);
  --x-color-border-layout-main-aside: var(--x-color-border-layout);
  --x-color-border-layout-main-body: var(--x-color-border-layout);

  // border
  --x-border-width-layout: 0;
  --x-border-width-layout-header: 0;
  --x-border-width-layout-empathize: 0;
  --x-border-width-layout-toolbar: 1px 0 0;
  --x-border-width-layout-main: 0;
  --x-border-width-layout-main-aside: 0;
  --x-border-width-layout-main-body: 0;
}
