:root {
  // color
  --x-color-text-suggestion-group-default: var(--x-color-text-suggestion-default);
  --x-color-text-suggestion-group-matching-part-default-has-matching-query: var(--x-color-text-suggestion-matching-part-default-has-matching-query);
  --x-color-background-suggestion-group-default: var(--x-color-background-suggestion-default);

  // size
  --x-size-padding-top-suggestion-group-default: var(--x-size-padding-top-suggestion-default);
  --x-size-padding-right-suggestion-group-default: var(--x-size-padding-right-suggestion-default);
  --x-size-padding-bottom-suggestion-group-default: var(--x-size-padding-bottom-suggestion-default);
  --x-size-padding-left-suggestion-group-default: var(--x-size-padding-left-suggestion-default);
  --x-size-gap-suggestion-group-default: var(--x-size-gap-suggestion-default);

  // typography
  --x-font-family-suggestion-group-default: var(--x-font-family-suggestion-default);
  --x-size-font-suggestion-group-default: var(--x-size-font-suggestion-default);
  --x-size-line-height-suggestion-group-default: var(--x-size-line-height-suggestion-default);
  --x-number-font-weight-suggestion-group-default: var(--x-number-font-weight-suggestion-default);
}
