:root {
  // color
  --x-color-text-suggestion-group: var(--x-color-text-suggestion);
  --x-color-text-suggestion-group-matching-part: var(--x-color-text-suggestion-matching-part);
  --x-color-background-suggestion-group: var(--x-color-background-suggestion);

  // spacing
  --x-space-padding-suggestion-group: var(--x-space-padding-suggestion) 0;
  --x-space-gap-suggestion-group: var(--x-space-gap-suggestion);

  // typography
  --x-font-family-suggestion-group: var(--x-font-family-suggestion);
  --x-font-size-suggestion-group: var(--x-font-size-suggestion);
  --x-font-line-height-suggestion-group: var(--x-font-line-height-suggestion);
  --x-font-weight-suggestion-group: var(--x-font-weight-suggestion);
}
