:root {
  // color
  --x-color-text-suggestion-group-default: var(--x-color-text-suggestion-default);
  --x-color-text-suggestion-group-matching-part-default: var(--x-color-text-suggestion-matching-part-default);
  --x-color-background-suggestion-group-default: var(--x-color-background-suggestion-default);
  --x-color-border-suggestion-group-default: var(--x-color-text-default);

  // size
  --x-size-padding-top-suggestion-group-default: var(--x-size-padding-top-suggestion-default);
  --x-size-padding-right-suggestion-group-default: var(--x-size-padding-right-suggestion-default);
  --x-size-padding-bottom-suggestion-group-default: var(--x-size-padding-bottom-suggestion-default);
  --x-size-padding-left-suggestion-group-default: var(--x-size-padding-left-suggestion-default);
  --x-size-gap-suggestion-group-default: var(--x-size-gap-suggestion-default);

  // border
  --x-size-border-width-suggestion-group-default: var(--x-size-border-width-base);
  --x-size-border-width-top-suggestion-group-default: var(--x-size-border-width-suggestion-default);
  --x-size-border-width-right-suggestion-group-default: var(--x-size-border-width-suggestion-default);
  --x-size-border-width-bottom-suggestion-group-default: var(--x-size-border-width-suggestion-default);
  --x-size-border-width-left-suggestion-group-default: var(--x-size-border-width-suggestion-default);

  --x-size-border-radius-suggestion-group-default: var(--x-size-border-radius-base-none);
  --x-size-border-radius-top-left-suggestion-group-default: var(--x-size-border-radius-suggestion-default);
  --x-size-border-radius-top-right-suggestion-group-default: var(--x-size-border-radius-suggestion-default);
  --x-size-border-radius-bottom-right-suggestion-group-default: var(--x-size-border-radius-suggestion-default);
  --x-size-border-radius-bottom-left-suggestion-group-default: var(--x-size-border-radius-suggestion-default);

  // typography
  --x-font-family-suggestion-group-default: var(--x-font-family-suggestion-default);
  --x-size-font-suggestion-group-default: var(--x-size-font-suggestion-default);
  --x-size-line-height-suggestion-group-default: var(--x-size-line-height-suggestion-default);
  --x-number-font-weight-suggestion-group-default: var(--x-number-font-weight-suggestion-default);
}
