@import '../../mixins';

.x-suggestion-group {
  // layout
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;

  // color
  background-color: var(--x-color-background-suggestion-group-default);
  color: var(--x-color-text-suggestion-group-default);

  // typography
  font-family: var(--x-font-family-suggestion-group-default);
  font-size: var(--x-size-font-suggestion-group-default);
  line-height: var(--x-size-line-height-suggestion-group-default);
  font-weight: var(--x-number-font-weight-suggestion-group-default);

  // other
  cursor: pointer;

  // size
  padding-block-start: var(--x-size-padding-top-suggestion-group-default);
  padding-block-end: var(--x-size-padding-bottom-suggestion-group-default);
  padding-inline-start: var(--x-size-padding-left-suggestion-group-default);
  padding-inline-end: var(--x-size-padding-right-suggestion-group-default);
  gap: var(--x-size-gap-suggestion-group-default);
  @include safari-gap(var(--x-size-gap-suggestion-group-default));

  .x-suggestion {
    // layout
    padding: 0;
    flex: 1 1 auto;
  }

  .x-button {
    // color
    --x-color-background-button-default: transparent;
    --x-color-border-button-default: transparent;
    --x-color-text-button-default: var(--x-color-text-suggestion-group-default);

    // size
    --x-size-height-button-default: var(--x-size-line-height-suggestion-group-default);
    --x-size-padding-right-button-default: 0;
    --x-size-padding-left-button-default: 0;

    // border
    border: none;
  }
}
