// text
.x-text--bold {
  &.x-text {
    --x-number-font-weight-text: var(--x-number-font-weight-base-bold);
  }
  &.x-title1 {
    --x-number-font-weight-title1: var(--x-number-font-weight-base-bold);
  }
  &.x-title2 {
    --x-number-font-weight-title2: var(--x-number-font-weight-base-bold);
  }
  &.x-title3 {
    --x-number-font-weight-title3: var(--x-number-font-weight-base-bold);
  }
  &.x-small {
    --x-number-font-weight-small: var(--x-number-font-weight-base-bold);
  }
}
