// text
.x-text--stroke {
  &.x-text {
    --x-string-text-decoration: line-through;
  }
  &.x-title1 {
    --x-string-text-decoration-title1: line-through;
  }
  &.x-title2 {
    --x-string-text-ecoration-title2: line-through;
  }
  &.x-title3 {
    --x-string-text-decoration-title3: line-through;
  }
  &.x-small {
    --x-string-text-decoration-small: line-through;
  }
}
