# Enable pre and post scripts due to pnpm not running them by default
enable-pre-post-scripts=true
engine-strict=true
link-workspace-packages=true
# Use hoisted node-linker to ensure .modules.yaml is created for Nx/Lerna compatibility
node-linker=hoisted
