@import '../mixins';

.x-shadow--none {
  box-shadow: none !important;
}
.x-shadow {
  @for $i from 1 through 10 {
    $i: zerofill($i);
    &--#{$i} {
      box-shadow: var(--x-string-box-shadow-#{$i}) !important;
    }
    &--bottom-#{$i} {
      box-shadow: var(--x-string-box-shadow-bottom-#{$i}) !important;
    }
  }
}
