.x-static {
  position: static !important;
}
.x-fixed {
  position: fixed !important;
}
.x-absolute {
  position: absolute !important;
}
.x-relative {
  position: relative !important;
}
.x-sticky {
  position: sticky !important;
}
