.x-underline {
  text-decoration-line: underline;
}

.x-overline {
  text-decoration-line: overline;
}

.x-line-through {
  text-decoration-line: line-through;
}

.x-no-underline {
  text-decoration-line: none;
}
