@import '../../mixins';

.x-suggestion {
  // layout
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  text-align: start;
  align-items: var(--x-string-align-items-suggestion-default);

  // color
  background-color: var(--x-color-background-suggestion-default);
  color: var(--x-color-text-suggestion-default);
  border-color: var(--x-color-border-suggestion-default);

  // typography
  font-family: var(--x-font-family-suggestion-default);
  font-size: var(--x-size-font-suggestion-default);
  line-height: var(--x-size-line-height-suggestion-default);
  font-weight: var(--x-number-font-weight-suggestion-default);

  // other
  cursor: pointer;

  // size
  padding-block-start: var(--x-size-padding-top-suggestion-default);
  padding-block-end: var(--x-size-padding-bottom-suggestion-default);
  padding-inline-start: var(--x-size-padding-left-suggestion-default);
  padding-inline-end: var(--x-size-padding-right-suggestion-default);
  gap: var(--x-size-gap-suggestion-default);
  @include safari-gap(var(--x-size-gap-suggestion-default));

  // border
  border: none;
  border-block-start-width: var(--x-size-border-width-top-suggestion-default);
  border-block-end-width: var(--x-size-border-width-bottom-suggestion-default);
  border-inline-start-width: var(--x-size-border-width-left-suggestion-default);
  border-inline-end-width: var(--x-size-border-width-right-suggestion-default);
  border-radius: var(--x-size-border-radius-top-left-suggestion-default)
  var(--x-size-border-radius-top-right-suggestion-default)
  var(--x-size-border-radius-bottom-right-suggestion-default)
  var(--x-size-border-radius-bottom-left-suggestion-default);

  &__query {
    // layout
    flex: 1 1 auto;
  }

  &__matching-part,
  .x-identifier-result__matching-part {
    // typography
    font-family: var(--x-font-family-suggestion-matching-part-default);
    font-size: var(--x-size-font-suggestion-matching-part-default);
    line-height: var(--x-size-line-height-suggestion-matching-part-default);
    font-weight: var(--x-number-font-weight-suggestion-matching-part-default);

    // color
    color: var(--x-color-text-suggestion-matching-part-default);
  }

  &--matching {
    // typography
    --x-font-family-suggestion-default: var(--x-font-family-suggestion-default-matching);
    --x-size-font-suggestion-default: var(--x-size-font-suggestion-default-matching);
    --x-size-line-height-suggestion-default: var(--x-size-line-height-suggestion-default-matching);
    --x-number-font-weight-suggestion-default: var(
      --x-number-font-weight-suggestion-default-matching
    );

    // color
    --x-color-text-suggestion-default: var(--x-color-text-suggestion-default-matching);
  }

  > .x-identifier-result {
    flex: none;
  }
}
