:root {
  //layout
  --x-string-align-items-suggestion-default: center;

  // color
  --x-color-text-suggestion-default: var(--x-color-text-default);
  --x-color-text-suggestion-matching-part-default: var(--x-color-base-neutral-35);
  --x-color-text-suggestion-default-matching: var(--x-color-text-suggestion-default);
  --x-color-background-suggestion-default: transparent;
  --x-color-border-suggestion-default: var(--x-color-text-default);

  // size
  --x-size-padding-top-suggestion-default: var(--x-size-base-01);
  --x-size-padding-right-suggestion-default: 0;
  --x-size-padding-bottom-suggestion-default: var(--x-size-base-02);
  --x-size-padding-left-suggestion-default: 0;
  --x-size-gap-suggestion-default: var(--x-size-base-03);

  // border
  --x-size-border-width-suggestion-default: var(--x-size-border-width-base);
  --x-size-border-width-top-suggestion-default: var(--x-size-border-width-suggestion-default);
  --x-size-border-width-right-suggestion-default: var(--x-size-border-width-suggestion-default);
  --x-size-border-width-bottom-suggestion-default: var(--x-size-border-width-suggestion-default);
  --x-size-border-width-left-suggestion-default: var(--x-size-border-width-suggestion-default);

  --x-size-border-radius-suggestion-default: var(--x-size-border-radius-base-none);
  --x-size-border-radius-top-left-suggestion-default: var(--x-size-border-radius-suggestion-default);
  --x-size-border-radius-top-right-suggestion-default: var(--x-size-border-radius-suggestion-default);
  --x-size-border-radius-bottom-right-suggestion-default: var(--x-size-border-radius-suggestion-default);
  --x-size-border-radius-bottom-left-suggestion-default: var(--x-size-border-radius-suggestion-default);

  // typography
  --x-font-family-suggestion-default: var(--x-font-family-text);
  --x-size-font-suggestion-default: var(--x-size-font-text);
  --x-size-line-height-suggestion-default: var(--x-size-line-height-text);
  --x-number-font-weight-suggestion-default: var(--x-number-font-weight-text);
  --x-font-family-suggestion-matching-part-default: var(--x-font-family-suggestion-default);
  --x-size-font-suggestion-matching-part-default: var(--x-size-font-suggestion-default);
  --x-size-line-height-suggestion-matching-part-default: var(
    --x-size-line-height-suggestion-default
  );
  --x-number-font-weight-suggestion-matching-part-default: var(
    --x-number-font-weight-suggestion-default
  );
  --x-font-family-suggestion-default-matching: var(--x-font-family-suggestion-default);
  --x-size-font-suggestion-default-matching: var(--x-size-font-suggestion-default);
  --x-size-line-height-suggestion-default-matching: var(--x-size-line-height-suggestion-default);
  --x-number-font-weight-suggestion-default-matching: var(
    --x-number-font-weight-suggestion-default
  );
}
