.x-animate-translate {
  $p: &;

  &--enter-active,
  &--leave-active {
    transition: transform var(--x-duration-animation, 0.3s) ease-out;
  }

  &--top {
    &#{$p}--enter,
    &#{$p}--leave-to {
      transform: translateY(-100%);
    }
  }

  &--bottom {
    &#{$p}--enter,
    &#{$p}--leave-to {
      transform: translateY(100%);
    }
  }

  &--top-to-bottom {
    &#{$p}--enter {
      transform: translateY(-100%);
    }
    &#{$p}--leave-to {
      transform: translateY(100%);
    }
  }

  &--bottom-to-top {
    &#{$p}--enter {
      transform: translateY(100%);
    }
    &#{$p}--leave-to {
      transform: translateY(-100%);
    }
  }

  &--left {
    &#{$p}--enter,
    &#{$p}--leave-to {
      transform: translateX(-100%);
    }
  }

  &--right {
    &#{$p}--enter,
    &#{$p}--leave-to {
      transform: translateX(100%);
    }
  }

  &--left-to-right {
    &#{$p}--enter {
      transform: translateX(-100%);
    }
    &#{$p}--leave-to {
      transform: translateX(100%);
    }
  }

  &--right-to-left {
    &#{$p}--enter {
      transform: translateX(100%);
    }
    &#{$p}--leave-to {
      transform: translateX(-100%);
    }
  }
}
