.x-list--border.x-list {
  // colors
  border-color: var(--x-color-base-border-list-border);

  // border
  border-style: solid;
  border-width: var(--x-size-border-width-list-border);
  $directions: top, right, bottom, left;
  @each $direction1 in $directions {
    @each $direction2 in $directions {
      @if $direction1 != $direction2 {
        &.x-list--border-#{$direction1} {
          &:not(.x-list--border-#{$direction2}) {
            border-#{$direction2}-width: 0;
          }
        }
      }
    }
  }
}
