@import '../../mixins';

.x-list {
  // layout
  display: flex;
  flex-flow: var(--x-string-flow-list);
  list-style: none;

  // size
  gap: var(--x-size-gap-list);
  &:not(.x-list--horizontal),
  &.x-list--vertical {
    @include safari-gap($vertical-gap: var(--x-size-gap-list));
  }

  &.x-list--horizontal {
    @include safari-gap(var(--x-size-gap-list));
  }

  &.x-list--wrap {
    @include safari-gap(var(--x-size-gap-list), var(--x-size-gap-list));
  }

  margin: 0;
  padding: var(--x-size-padding-list);
  justify-content: var(--x-size-justify-list);
  align-items: var(--x-size-align-list);

  // typography
  font-family: var(--x-font-family-text);
  font-size: var(--x-size-font-text);
  font-weight: var(--x-number-font-weight-text);
  line-height: var(--x-size-line-height-text);

  min-width: 0;
}

.x-list--vertical.x-list {
  flex-flow: column nowrap;
}

.x-list--horizontal.x-list {
  flex-flow: row nowrap;
}

.x-list--wrap.x-list {
  flex-flow: row wrap;
}

.x-list--justify-stretch.x-list {
  justify-content: stretch;
}

.x-list--justify-center.x-list {
  justify-content: center;
}

.x-list--justify-end.x-list {
  justify-content: flex-end;
}

.x-list--justify-start.x-list {
  justify-content: flex-start;
}

.x-list--align-stretch.x-list {
  align-items: stretch;
}

.x-list--align-center.x-list {
  align-items: center;
}

.x-list--align-baseline.x-list {
  align-items: baseline;
}

.x-list--align-end.x-list {
  align-items: flex-end;
}

.x-list--align-start.x-list {
  align-items: flex-start;
}

.x-list {
  .x-list__item--expand {
    flex: 1 1 auto;
  }

  &.x-list--horizontal {
    .x-list__item--expand {
      min-width: 0;
    }
  }

  &:not(.x-list--horizontal) {
    .x-list__item--expand {
      min-height: 0;
    }
  }

  .x-list__item--stretch {
    align-self: stretch;
  }

  @for $i from 1 through 12 {
    .x-list__item--#{zerofill($i)} {
      flex: $i #{13 - $i} auto;
    }
  }
}
