:root {
  // layout
  --x-space-flow-list: column nowrap;

  // spacing
  --x-space-padding-list: 0;
  --x-space-gap-list: 0;
  --x-space-justify-list: stretch;
  --x-space-align-list: stretch;
  --x-space-align-list-stretch: stretch;
}
