:root {
  // layout
  --x-size-flow-list: column nowrap;

  // size
  --x-size-padding-list: 0;
  --x-size-gap-list: 0;
  --x-size-justify-list: stretch;
  --x-size-align-list: stretch;
  --x-size-align-list-stretch: stretch;
}
