:root {
  --x-size-gap-list-01: var(--x-size-base-01);
  --x-size-gap-list-02: var(--x-size-base-02);
  --x-size-gap-list-03: var(--x-size-base-03);
  --x-size-gap-list-04: var(--x-size-base-04);
  --x-size-gap-list-05: var(--x-size-base-05);
  --x-size-gap-list-06: var(--x-size-base-06);
  --x-size-gap-list-07: var(--x-size-base-07);
  --x-size-gap-list-08: var(--x-size-base-08);
  --x-size-gap-list-09: var(--x-size-base-09);
  --x-size-gap-list-10: var(--x-size-base-10);
}
