:root {
  --x-size-padding-list-01: var(--x-size-base-01);
  --x-size-padding-list-02: var(--x-size-base-02);
  --x-size-padding-list-03: var(--x-size-base-03);
  --x-size-padding-list-04: var(--x-size-base-04);
  --x-size-padding-list-05: var(--x-size-base-05);
  --x-size-padding-list-06: var(--x-size-base-06);
  --x-size-padding-list-07: var(--x-size-base-07);
}
