/* @deprecated */
:root {
  --x-size-padding-list-01: var(--x-size-base-01);
  --x-size-padding-list-02: var(--x-size-base-02);
  --x-size-padding-list-03: var(--x-size-base-03);
  --x-size-padding-list-04: var(--x-size-base-04);
  --x-size-padding-list-05: var(--x-size-base-05);
  --x-size-padding-list-06: var(--x-size-base-06);
  --x-size-padding-list-07: var(--x-size-base-07);
  --x-size-padding-list-08: var(--x-size-base-08);
  --x-size-padding-list-09: var(--x-size-base-09);
  --x-size-padding-list-10: var(--x-size-base-10);
  --x-size-padding-list-11: var(--x-size-base-11);
  --x-size-padding-list-12: var(--x-size-base-12);
  --x-size-padding-list-13: var(--x-size-base-13);
}
