:root {
  --x-space-padding-list-01: var(--x-space-01);
  --x-space-padding-list-02: var(--x-space-02);
  --x-space-padding-list-03: var(--x-space-03);
  --x-space-padding-list-04: var(--x-space-04);
  --x-space-padding-list-05: var(--x-space-05);
  --x-space-padding-list-06: var(--x-space-06);
  --x-space-padding-list-07: var(--x-space-07);
}
