:root {
  // TEXT
  --x-font-family-text: var(--x-font-family);
  --x-font-size-text: var(--x-font-size-s);
  --x-font-weight-text: var(--x-font-weight-regular);
  --x-font-line-height-text: var(--x-font-line-height-s);

  // TITLE1
  --x-font-family-title1: var(--x-font-family);
  --x-font-size-title1: var(--x-font-size-xl);
  --x-font-weight-title1: var(--x-font-weight-regular);
  --x-font-line-height-title1: var(--x-font-line-height-l);

  // TITLE2
  --x-font-family-title2: var(--x-font-family);
  --x-font-size-title2: var(--x-font-size-l);
  --x-font-weight-title2: var(--x-font-weight-regular);
  --x-font-line-height-title2: var(--x-font-line-height-m);

  // TITLE3
  --x-font-family-title3: var(--x-font-family);
  --x-font-size-title3: var(--x-font-size-m);
  --x-font-weight-title3: var(--x-font-weight-regular);
  --x-font-line-height-title3: var(--x-font-line-height-m);

  // SMALL
  --x-font-family-small: var(--x-font-family);
  --x-font-size-small: var(--x-font-size-xs);
  --x-font-weight-small: var(--x-font-weight-regular);
  --x-font-line-height-small: var(--x-font-line-height-xs);
}
