// text
.x-text {
  font-family: var(--x-font-family-text);
  font-size: var(--x-font-size-text);
  font-weight: var(--x-font-weight-text);
  line-height: var(--x-font-line-height-text);
}

// title1
.x-title1 {
  font-family: var(--x-font-family-title1);
  font-size: var(--x-font-size-title1);
  font-weight: var(--x-font-weight-title1);
  line-height: var(--x-font-line-height-title1);
  margin: 0;
}

// title2
.x-title2 {
  font-family: var(--x-font-family-title2);
  font-size: var(--x-font-size-title2);
  font-weight: var(--x-font-weight-title2);
  line-height: var(--x-font-line-height-title2);
  margin: 0;
}

// title3
.x-title3 {
  font-family: var(--x-font-family-title3);
  font-size: var(--x-font-size-title3);
  font-weight: var(--x-font-weight-title3);
  line-height: var(--x-font-line-height-title3);
  margin: 0;
}

// small
.x-small {
  font-family: var(--x-font-family-small);
  font-size: var(--x-font-size-small);
  font-weight: var(--x-font-weight-small);
  line-height: var(--x-font-line-height-small);
  margin: 0;
}

.x-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
