:root {
  // spacing
  --x-space-gap-dropdown-card: var(--x-space-03);

  // border
  --x-border-radius-dropdown-card: var(--x-border-radius-s);
  --x-border-width-dropdown-list-card: var(--x-border-width);
}
