@import '../../mixins';

.x-dropdown {
  // layout
  box-sizing: border-box;
  position: relative;

  // font
  font-size: var(--x-size-font-dropdown-default);
  font-family: var(--x-font-family-dropdown-default);
  font-weight: var(--x-number-font-weight-dropdown-default);
  line-height: var(--x-size-line-height-dropdown-default);

  &__toggle {
    // border
    border-style: solid;
    border-width: var(--x-size-border-width-top-dropdown-toggle-default)
      var(--x-size-border-width-right-dropdown-toggle-default)
      var(--x-size-border-width-bottom-dropdown-toggle-default)
      var(--x-size-border-width-left-dropdown-toggle-default);
    border-radius: var(--x-size-border-radius-top-left-dropdown-default)
      var(--x-size-border-radius-top-right-dropdown-default)
      var(--x-size-border-radius-bottom-right-dropdown-default)
      var(--x-size-border-radius-bottom-left-dropdown-default);

    // color
    background: var(--x-color-background-dropdown-toggle-default);
    color: var(--x-color-font-dropdown-toggle-default);
    border-color: var(--x-color-border-dropdown-toggle-default);

    // size
    padding: var(--x-size-padding-top-dropdown-item-default)
      var(--x-size-padding-right-dropdown-item-default)
      var(--x-size-padding-bottom-dropdown-item-default)
      var(--x-size-padding-left-dropdown-item-default);
    gap: var(--x-size-gap-dropdown-item-default);
    @include safari-gap(var(--x-size-gap-dropdown-item-default));

    // size
    width: var(--x-size-width-dropdown-default);

    // layout
    display: flex;
    flex-flow: row nowrap;
    margin: 0;

    // other
    cursor: pointer;
    overflow: hidden;

    .x-icon {
      // layout
      transform: rotate(var(--x-rotation-toggle-icon-collapsed));
    }
  }

  &__toggle-selected-value {
    // color
    color: var(--x-color-font-dropdown-toggle-default-selected);
  }

  &__items-list {
    // layout
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(100% + var(--x-size-gap-dropdown-default));
    overflow: hidden;

    // color
    border-color: var(--x-color-border-dropdown-list-default);

    // border
    border-width: var(--x-size-border-width-top-dropdown-list-default)
      var(--x-size-border-width-right-dropdown-list-default)
      var(--x-size-border-width-bottom-dropdown-list-default)
      var(--x-size-border-width-left-dropdown-list-default);
    border-radius: var(--x-size-border-radius-top-left-dropdown-default)
      var(--x-size-border-radius-top-right-dropdown-default)
      var(--x-size-border-radius-bottom-right-dropdown-default)
      var(--x-size-border-radius-bottom-left-dropdown-default);
    border-style: solid;

    // size
    margin: 0;
    padding: 0;

    // other
    z-index: 1;
  }

  &__item {
    // color
    background: var(--x-color-background-dropdown-default);

    // size
    padding: var(--x-size-padding-top-dropdown-item-default)
      var(--x-size-padding-right-dropdown-item-default)
      var(--x-size-padding-bottom-dropdown-item-default)
      var(--x-size-padding-left-dropdown-item-default);
    gap: var(--x-size-gap-dropdown-item-default);
    @include safari-gap(var(--x-size-gap-dropdown-item-default));

    // border
    border: none;

    // layout
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    margin: 0;

    // other
    cursor: pointer;

    &:hover,
    &--is-highlighted {
      // color
      color: var(--x-color-font-dropdown-item-default-hover);
      background-color: var(--x-color-background-dropdown-item-default-hover);

      // font
      font-weight: var(--x-number-font-weight-dropdown-item-default-hover);
      text-decoration: var(--x-font-decoration-dropdown-item-default-hover);
    }

    &--is-selected {
      // color
      color: var(--x-color-font-dropdown-item-default-selected);
      background-color: var(--x-color-background-dropdown-item-default-selected);

      // font
      font-weight: var(--x-number-font-weight-dropdown-item-default-selected);
      text-decoration: var(--x-font-decoration-dropdown-item-default-selected);
    }
  }

  &--is-open {
    .x-dropdown {
      &__toggle {
        .x-icon {
          // layout
          transform: rotate(var(--x-rotation-toggle-icon-expanded));
        }
      }
    }
  }
}
