@import '../../mixins';

.x-dropdown {
  // layout
  box-sizing: border-box;
  position: relative;

  // font
  font-size: var(--x-size-font-dropdown-default);
  font-family: var(--x-font-family-dropdown-default);
  font-weight: var(--x-number-font-weight-dropdown-default);
  line-height: var(--x-size-line-height-dropdown-default);

  &__toggle {
    // border
    border-style: solid;
    border-block-start-width: var(--x-size-border-width-top-dropdown-toggle-default);
    border-inline-end-width: var(--x-size-border-width-right-dropdown-toggle-default);
    border-block-end-width: var(--x-size-border-width-bottom-dropdown-toggle-default);
    border-inline-start-width: var(--x-size-border-width-left-dropdown-toggle-default);
    border-radius: var(--x-size-border-radius-top-left-dropdown-default)
      var(--x-size-border-radius-top-right-dropdown-default)
      var(--x-size-border-radius-bottom-right-dropdown-default)
      var(--x-size-border-radius-bottom-left-dropdown-default);

    // color
    background: var(--x-color-background-dropdown-toggle-default);
    color: var(--x-color-text-dropdown-toggle-default);
    border-color: var(--x-color-border-dropdown-toggle-default);

    // size
    padding-block-start: var(--x-size-padding-top-dropdown-toggle-default);
    padding-inline-end: var(--x-size-padding-right-dropdown-toggle-default);
    padding-block-end: var(--x-size-padding-bottom-dropdown-toggle-default);
    padding-inline-start: var(--x-size-padding-left-dropdown-toggle-default);
    gap: var(--x-size-gap-dropdown-item-default);
    @include safari-gap(var(--x-size-gap-dropdown-item-default));

    // size
    width: var(--x-size-width-dropdown-toggle-default);

    // layout
    display: flex;
    flex-flow: row nowrap;
    margin: 0;

    // other
    cursor: pointer;
    overflow: var(--x-string-overflow-dropdown-toggle-default);
    box-shadow: var(--x-string-box-shadow-dropdown-default);

    * + .x-icon:last-child {
      margin-inline-start: auto;
    }
  }

  &__toggle-selected-value {
    // color
    color: var(--x-color-text-dropdown-toggle-default-selected);
  }

  &__items-list {
    // layout
    background: var(--x-color-background-dropdown-default);
    box-sizing: border-box;
    min-width: var(--x-size-min-width-dropdown-list-default);
    position: absolute;
    top: calc(100% + var(--x-size-gap-dropdown-default));
    overflow: var(--x-string-overflow-dropdown-list-default);

    // color
    border-color: var(--x-color-border-dropdown-list-default);

    // border
    border-block-start-width: var(--x-size-border-width-top-dropdown-list-default);
    border-inline-end-width: var(--x-size-border-width-right-dropdown-list-default);
    border-block-end-width: var(--x-size-border-width-bottom-dropdown-list-default);
    border-inline-start-width: var(--x-size-border-width-left-dropdown-list-default);
    border-radius: var(--x-size-border-radius-top-left-dropdown-default)
      var(--x-size-border-radius-top-right-dropdown-default)
      var(--x-size-border-radius-bottom-right-dropdown-default)
      var(--x-size-border-radius-bottom-left-dropdown-default);
    border-style: solid;

    // size
    margin: 0;
    padding: 0;

    // other
    box-shadow: var(--x-string-box-shadow-dropdown-default);
    z-index: 1;

    &:before,
    &:after {
      content: '';
      display: block;
      height: var(--x-size-padding-vertical-dropdown-list-default);
    }
  }

  &__item {
    // color
    background: var(--x-color-background-dropdown-default);

    // size
    padding-block-start: var(--x-size-padding-top-dropdown-item-default);
    padding-block-end: var(--x-size-padding-bottom-dropdown-item-default);
    padding-inline-start: var(--x-size-padding-left-dropdown-item-default);
    padding-inline-end: var(--x-size-padding-right-dropdown-item-default);
    gap: var(--x-size-gap-dropdown-item-default);
    @include safari-gap(var(--x-size-gap-dropdown-item-default));

    // border
    border: none;

    // layout
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    margin: 0;
    white-space: nowrap;

    // other
    cursor: pointer;

    &:hover,
    &--is-highlighted {
      // color
      color: var(--x-color-text-dropdown-item-default-hover);
      background-color: var(--x-color-background-dropdown-item-default-hover);

      // font
      font-weight: var(--x-number-font-weight-dropdown-item-default-hover);
      text-decoration: var(--x-font-decoration-dropdown-item-default-hover);
    }

    &--is-selected {
      // color
      color: var(--x-color-text-dropdown-item-default-selected);
      background-color: var(--x-color-background-dropdown-item-default-selected);

      // font
      font-weight: var(--x-number-font-weight-dropdown-item-default-selected);
      text-decoration: var(--x-font-decoration-dropdown-item-default-selected);
    }

    .x-icon:last-child {
      margin-inline-start: auto;
    }
  }

  &--is-open {
    --x-color-background-dropdown-toggle-default: var(
      --x-color-background-dropdown-toggle-open-default
    );
  }

  &--right {
    .x-dropdown {
      &__items-list {
        inset-inline-end: 0;
      }
    }
  }
}
