.x-dropdown--line {
  // size
  --x-size-padding-top-dropdown-item-default: var(--x-size-padding-top-dropdown-item-line);
  --x-size-padding-right-dropdown-item-default: var(--x-size-padding-right-dropdown-item-line);
  --x-size-padding-bottom-dropdown-item-default: var(--x-size-padding-bottom-dropdown-item-line);
  --x-size-padding-left-dropdown-item-default: var(--x-size-padding-left-dropdown-item-line);

  // border
  --x-size-border-width-dropdown-toggle-default: var(--x-size-border-width-dropdown-toggle-line);
  --x-size-border-width-top-dropdown-toggle-default: var(
    --x-size-border-width-top-dropdown-toggle-line
  );
  --x-size-border-width-right-dropdown-toggle-default: var(
    --x-size-border-width-right-dropdown-toggle-line
  );
  --x-size-border-width-bottom-dropdown-toggle-default: var(
    --x-size-border-width-bottom-dropdown-toggle-line
  );
  --x-size-border-width-left-dropdown-toggle-default: var(
    --x-size-border-width-left-dropdown-toggle-line
  );

  --x-size-border-width-dropdown-list-default: var(--x-size-border-width-dropdown-list-line);
  --x-size-border-width-top-dropdown-list-default: var(
    --x-size-border-width-top-dropdown-list-line
  );
  --x-size-border-width-right-dropdown-list-default: var(
    --x-size-border-width-right-dropdown-list-line
  );
  --x-size-border-width-bottom-dropdown-list-default: var(
    --x-size-border-width-bottom-dropdown-list-line
  );
  --x-size-border-width-left-dropdown-list-default: var(
    --x-size-border-width-left-dropdown-list-line
  );
}
