@import '../../mixins';

.x-dropdown--round {
  // size
  --x-size-gap-dropdown-default: var(--x-size-gap-dropdown-round);

  --x-size-padding-vertical-dropdown-list-default: var(--x-size-base-05);

  --x-size-padding-top-dropdown-toggle-default: var(--x-size-padding-dropdown-round);
  --x-size-padding-right-dropdown-toggle-default: var(--x-size-padding-dropdown-round);
  --x-size-padding-bottom-dropdown-toggle-default: var(--x-size-padding-dropdown-round);
  --x-size-padding-left-dropdown-toggle-default: var(--x-size-padding-dropdown-round);

  --x-size-width-dropdown-toggle-default: auto;

  // border
  --x-size-border-radius-dropdown-default: var(--x-size-border-radius-base-pill);
  --x-size-border-radius-top-left-dropdown-default: calc(
    var(--x-size-line-height-dropdown-default) / 2 + var(--x-size-padding-top-dropdown-item-default) +
      var(--x-size-border-width-top-dropdown-toggle-default)
  );
  --x-size-border-radius-top-right-dropdown-default: calc(
    var(--x-size-line-height-dropdown-default) / 2 + var(--x-size-padding-top-dropdown-item-default) +
      var(--x-size-border-width-top-dropdown-toggle-default)
  );
  --x-size-border-radius-bottom-right-dropdown-default: calc(
    var(--x-size-line-height-dropdown-default) / 2 +
      var(--x-size-padding-bottom-dropdown-item-default) +
      var(--x-size-border-width-bottom-dropdown-toggle-default)
  );
  --x-size-border-radius-bottom-left-dropdown-default: calc(
    var(--x-size-line-height-dropdown-default) / 2 +
      var(--x-size-padding-bottom-dropdown-item-default) +
      var(--x-size-border-width-bottom-dropdown-toggle-default)
  );

  --x-size-border-width-dropdown-list-default: var(--x-size-border-width-dropdown-list-round);
  --x-size-border-width-top-dropdown-list-default: var(
    --x-size-border-width-top-dropdown-list-round
  );
  --x-size-border-width-right-dropdown-list-default: var(
    --x-size-border-width-right-dropdown-list-round
  );
  --x-size-border-width-bottom-dropdown-list-default: var(
    --x-size-border-width-bottom-dropdown-list-round
  );
  --x-size-border-width-left-dropdown-list-default: var(
    --x-size-border-width-left-dropdown-list-round
  );

  // color
  --x-color-background-dropdown-toggle-open-default: var(--x-color-base-neutral-95);

  // font
  --x-number-font-weight-dropdown-item-default-hover: var(
    --x-number-font-weight-dropdown-item-default
  );

  // other
  --x-string-box-shadow-dropdown-default: var(--x-string-box-shadow-dropdown-round);

  &.x-dropdown {
    &--right {
      .x-dropdown {
        &__items-list {
          right: 0;
          left: auto;
        }
      }
    }
  }
}
