:root {
  // size
  --x-size-gap-dropdown-round: var(--x-size-base-03);
  --x-size-padding-dropdown-buble: var(--x-size-base-03);

  // border
  --x-size-border-radius-dropdown-round: var(--x-size-border-radius-base-pill);
  --x-size-border-radius-top-left-dropdown-round: var(--x-size-border-radius-dropdown-round);
  --x-size-border-radius-top-right-dropdown-round: var(--x-size-border-radius-dropdown-round);
  --x-size-border-radius-bottom-right-dropdown-round: var(--x-size-border-radius-dropdown-round);
  --x-size-border-radius-bottom-left-dropdown-round: var(--x-size-border-radius-dropdown-round);

  --x-size-border-width-dropdown-list-round: 0;
  --x-size-border-width-top-dropdown-list-round: var(--x-size-border-width-dropdown-list-round);
  --x-size-border-width-right-dropdown-list-round: var(--x-size-border-width-dropdown-list-round);
  --x-size-border-width-bottom-dropdown-list-round: var(
    --x-size-border-width-dropdown-list-round
  );
  --x-size-border-width-left-dropdown-list-round: var(--x-size-border-width-dropdown-list-round);

  // color
  --x-color-background-dropdown-toggle-open-round: var(--x-color-base-neutral-95);

  // other
  --x-string-box-shadow-dropdown-round: var(--x-string-box-shadow-03);
}
