.x-button--tertiary.x-button,
.x-button--tertiary .x-button {
  // color
  --x-color-background-button-default: var(--x-color-background-button-tertiary);
  --x-color-border-button-default: var(--x-color-border-button-tertiary);
  --x-color-text-button-default: var(--x-color-text-button-tertiary);
  // border
  --x-size-border-width-top-button-default: var(--x-size-border-width-top-button-tertiary);
  --x-size-border-width-right-button-default: var(--x-size-border-width-right-button-tertiary);
  --x-size-border-width-bottom-button-default: var(--x-size-border-width-bottom-button-tertiary);
  --x-size-border-width-left-button-default: var(--x-size-border-width-left-button-tertiary);
}
