.x-icon {
  //layout
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  // sizing
  line-height: var(--x-size-height-icon);
  width: var(--x-size-width-icon);
  height: var(--x-size-height-icon);
  font-size: var(--x-size-height-icon);
}
