@import '../../mixins';

.x-filter {
  // layout
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  text-align: left;

  // size
  gap: var(--x-size-gap-filter-default);
  @include safari-gap(var(--x-size-gap-filter-default));
  padding-block-start: var(--x-size-padding-top-filter-default);
  padding-block-end: var(--x-size-padding-bottom-filter-default);
  padding-inline-start: var(--x-size-padding-left-filter-default);
  padding-inline-end: var(--x-size-padding-right-filter-default);

  // color
  background-color: var(--x-color-background-filter-default);
  border-color: var(--x-color-border-filter-default);
  color: var(--x-color-text-filter-default);

  // border
  border-style: solid;
  border-block-start-width: var(--x-size-border-width-top-filter-default);
  border-inline-end-width: var(--x-size-border-width-right-filter-default);
  border-block-end-width: var(--x-size-border-width-bottom-filter-default);
  border-inline-start-width: var(--x-size-border-width-left-filter-default);
  border-radius: var(--x-size-border-radius-top-left-filter-default)
    var(--x-size-border-radius-top-right-filter-default)
    var(--x-size-border-radius-bottom-right-filter-default)
    var(--x-size-border-radius-bottom-left-filter-default);

  // typography
  font-family: var(--x-font-family-filter-default);
  font-size: var(--x-size-font-filter-default);
  font-weight: var(--x-number-font-weight-filter-default);
  line-height: var(--x-size-line-height-filter-default);

  // other
  cursor: pointer;

  > * {
    // layout
    flex: 0 0 auto;
  }

  &__label {
    // layout
    flex: 0 1 auto;
  }

  &__count {
    // typography
    font-weight: var(--x-number-font-weight-filter-count-default);
  }

  &--is-selected {
    // color
    --x-color-background-filter-default: var(--x-color-background-filter-default-selected);
    --x-color-border-filter-default: var(--x-color-border-filter-default-selected);
    --x-color-text-filter-default: var(--x-color-text-filter-default-selected);

    // typography
    --x-number-font-weight-filter-default: var(--x-number-font-weight-filter-default-selected);
    --x-number-font-weight-filter-count-default: var(
      --x-number-font-weight-filter-count-default-selected
    );
  }
}
