:root {
  // color
  --x-color-background-filter-default: transparent;
  --x-color-border-filter-default: var(--x-color-background-filter-default);
  --x-color-text-filter-default: var(--x-color-text-default);
  --x-color-background-filter-default-selected: var(--x-color-background-filter-default);
  --x-color-border-filter-default-selected: var(--x-color-border-filter-default);
  --x-color-text-filter-default-selected: var(--x-color-text-filter-default);

  // border
  --x-size-border-width-filter-default: var(--x-size-border-width-base);
  --x-size-border-width-top-filter-default: var(--x-size-border-width-filter-default);
  --x-size-border-width-right-filter-default: var(--x-size-border-width-filter-default);
  --x-size-border-width-bottom-filter-default: var(--x-size-border-width-filter-default);
  --x-size-border-width-left-filter-default: var(--x-size-border-width-filter-default);

  --x-size-border-radius-filter-default: var(--x-size-border-radius-base-none);
  --x-size-border-radius-top-left-filter-default: var(--x-size-border-radius-filter-default);
  --x-size-border-radius-top-right-filter-default: var(--x-size-border-radius-filter-default);
  --x-size-border-radius-bottom-right-filter-default: var(--x-size-border-radius-filter-default);
  --x-size-border-radius-bottom-left-filter-default: var(--x-size-border-radius-filter-default);

  // size
  --x-size-padding-top-filter-default: var(--x-size-base-03);
  --x-size-padding-right-filter-default: 0;
  --x-size-padding-bottom-filter-default: var(--x-size-base-03);
  --x-size-padding-left-filter-default: 0;
  --x-size-gap-filter-default: var(--x-size-base-03);

  // typography
  --x-font-family-filter-default: var(--x-font-family-text);
  --x-size-font-filter-default: var(--x-size-font-text);
  --x-number-font-weight-filter-default: var(--x-number-font-weight-base-regular);
  --x-number-font-weight-filter-default-selected: var(--x-number-font-weight-base-bold);
  --x-number-font-weight-filter-count-default: var(--x-number-font-weight-base-light);
  --x-number-font-weight-filter-count-default-selected: var(--x-number-font-weight-filter-count-default);
  --x-size-line-height-filter-default: var(--x-size-line-height-text);
}
