.x-hierarchical-filter-container {
  list-style: none;

  .x-hierarchical-filter {
    &__children,
    &__children.x-list {
      margin: var(--x-size-margin-filter-children);
      padding-block-start: var(--x-size-padding-top-filter-children);
      padding-block-end: var(--x-size-padding-bottom-filter-children);
      padding-inline-start: var(--x-size-padding-left-filter-children);
      padding-inline-end: var(--x-size-padding-right-filter-children);
    }
  }

  .x-hierarchical-filter-container,
  .x-filter {
    width: 100%;
  }
}
