:root {
  // FONT FAMILY
  --x-font-family-base: 'Montserrat', sans-serif;

  // FONT SIZES
  --x-size-font-base-xs: 12px;
  --x-size-font-base-s: 14px;
  --x-size-font-base-m: 16px;
  --x-size-font-base-l: 18px;
  --x-size-font-base-xl: 32px;

  // WEIGHTS
  --x-number-font-weight-base-light: 300;
  --x-number-font-weight-base-regular: 400;
  --x-number-font-weight-base-bold: 600;

  // LINE HEIGHT
  --x-size-line-height-base-s: 16px;
  --x-size-line-height-base-m: 24px;
  --x-size-line-height-base-l: 32px;
}
