.x-button--ghost.x-button,
.x-button--ghost .x-button {
  // color
  --x-color-background-button: var(--x-color-background-button-ghost);
  --x-color-border-button: var(--x-color-border-button-ghost);
  --x-color-text-button: var(--x-color-text-button-ghost);
}
