.x-button--primary.x-button,
.x-button--primary .x-button {
  // color
  background-color: var(--x-color-background-button-primary);
  border-color: var(--x-color-border-button-primary);
  color: var(--x-color-text-button-primary);
}
