.x-button--secondary.x-button,
.x-button--secondary .x-button {
  // color
  --x-color-background-button: var(--x-color-background-button-secondary);
  --x-color-border-button: var(--x-color-border-button-secondary);
  --x-color-text-button: var(--x-color-text-button-secondary);
}
