:root {
  // color
  --x-color-background-button-tertiary: var(--x-color-neutral-95);
  --x-color-border-button-tertiary: var(--x-color-neutral-70);
  --x-color-text-button-tertiary: var(--x-color-neutral-10);
}
