@import '../../mixins';

.x-tag {
  // layout
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;

  // border
  border-style: solid;
  border-width: var(--x-size-border-width-top-tag-default)
    var(--x-size-border-width-right-tag-default) var(--x-size-border-width-bottom-tag-default)
    var(--x-size-border-width-left-tag-default);
  border-radius: var(--x-size-border-radius-top-left-tag-default)
    var(--x-size-border-radius-top-right-tag-default)
    var(--x-size-border-radius-bottom-right-tag-default)
    var(--x-size-border-radius-bottom-left-tag-default);

  // color
  background-color: var(--x-color-background-tag-default);
  border-color: var(--x-color-border-tag-default);
  color: var(--x-color-text-tag-default);

  // typography
  line-height: var(--x-size-line-height-tag-default);
  font-family: var(--x-font-family-tag-default);
  font-size: var(--x-size-font-tag-default);
  font-weight: var(--x-number-font-weight-tag-default);

  // size
  gap: var(--x-size-gap-tag-default);
  @include safari-gap(var(--x-size-gap-tag-default));
  padding: var(--x-size-padding-top-tag-default) var(--x-size-padding-right-tag-default)
    var(--x-size-padding-bottom-tag-default) var(--x-size-padding-left-tag-default);
  min-width: calc(3 * var(--x-size-line-height-tag-default));

  // other
  cursor: pointer;

  &.x-filter {
    // color
    --x-color-background-filter: transparent;
    --x-size-border-width-filter: 0;
    --x-color-text-filter: var(--x-color-text-tag-default);

    // size
    --x-size-padding-filter: 0;
    --x-size-gap-filter: var(--x-size-gap-tag-default);

    // typography
    --x-font-family-filter: var(--x-font-family-tag-default);
    --x-size-font-filter: var(--x-size-font-tag-default);
    --x-number-font-weight-filter: var(--x-number-font-weight-tag-default);
    --x-size-line-height-filter: var(--x-size-line-height-tag-default);
  }

  // selected (the double .x-tag is to override specificity of the scoped component style)
  &.x-tag.x-tag--is-selected {
    // color
    background-color: var(--x-color-background-tag-default-selected);
    border-color: var(--x-color-border-tag-default-selected);
    color: var(--x-color-text-tag-default-selected);

    // typography
    line-height: var(--x-size-line-height-tag-default-selected);
    font-family: var(--x-font-family-tag-default-selected);
    font-size: var(--x-size-font-tag-default-selected);
    font-weight: var(--x-number-font-weight-tag-default-selected);

    &.x-filter {
      // color
      --x-color-text-filter: var(--x-color-text-tag-default-selected);

      // typography
      --x-font-family-filter: var(--x-font-family-tag-default-selected);
      --x-size-font-filter: var(--x-size-font-tag-default-selected);
      --x-number-font-weight-filter: var(--x-number-font-weight-tag-default-selected);
      --x-size-line-height-filter: var(--x-size-line-height-tag-default-selected);
    }
  }
}
