:root {
  // color
  --x-color-background-tag-default: var(--x-color-base-neutral-100);
  --x-color-border-tag-default: var(--x-color-text-tag-default);
  --x-color-text-tag-default: var(--x-color-text-default);
  --x-color-background-tag-default-selected: var(--x-color-base-neutral-95);
  --x-color-border-tag-default-selected: var(--x-color-border-tag-default);
  --x-color-text-tag-default-selected: var(--x-color-text-tag-default);
  // color curated
  --x-color-background-curated-tag-default: var(--x-color-base-neutral-100);
  --x-color-border-curated-tag-default: var(--x-color-text-tag-default);
  --x-color-text-curated-tag-default: var(--x-color-text-default);
  --x-color-background-curated-tag-default-selected: var(--x-color-base-neutral-95);
  --x-color-border-curated-tag-default-selected: var(--x-color-border-tag-default);
  --x-color-text-curated-tag-default-selected: var(--x-color-text-tag-default);

  // border
  --x-size-border-width-tag-default: var(--x-size-border-width-base);
  --x-size-border-width-top-tag-default: var(--x-size-border-width-tag-default);
  --x-size-border-width-right-tag-default: var(--x-size-border-width-tag-default);
  --x-size-border-width-bottom-tag-default: var(--x-size-border-width-tag-default);
  --x-size-border-width-left-tag-default: var(--x-size-border-width-tag-default);

  --x-size-border-radius-tag-default: var(--x-size-border-radius-base-none);
  --x-size-border-radius-top-left-tag-default: var(--x-size-border-radius-tag-default);
  --x-size-border-radius-top-right-tag-default: var(--x-size-border-radius-tag-default);
  --x-size-border-radius-bottom-right-tag-default: var(--x-size-border-radius-tag-default);
  --x-size-border-radius-bottom-left-tag-default: var(--x-size-border-radius-tag-default);

  // size
  --x-size-height-tag-default: var(--x-size-base-07);
  --x-size-padding-right-tag-default: var(--x-size-base-04);
  --x-size-padding-left-tag-default: var(--x-size-base-04);
  --x-size-gap-tag-default: var(--x-size-base-02);

  // typography
  --x-font-family-tag-default: var(--x-font-family-text);
  --x-size-font-tag-default: var(--x-size-font-text);
  --x-size-line-height-tag-default: var(--x-size-line-height-text);
  --x-number-font-weight-tag-default: var(--x-number-font-weight-text);
  --x-font-family-tag-default-selected: var(--x-font-family-tag-default);
  --x-size-font-tag-default-selected: var(--x-size-font-tag-default);
  --x-size-line-height-tag-default-selected: var(--x-size-line-height-tag-default);
  --x-number-font-weight-tag-default-selected: var(--x-number-font-weight-tag-default);
  // typography curated
  --x-font-family-curated-tag-default: var(--x-font-family-text);
  --x-size-font-curated-tag-default: var(--x-size-font-text);
  --x-size-line-height-curaetd-tag-default: var(--x-size-line-height-text);
  --x-number-font-weight-curated-tag-default: var(--x-number-font-weight-text);
  --x-font-family-curated-tag-default-selected: var(--x-font-family-tag-default);
  --x-size-font-curated-tag-default-selected: var(--x-size-font-tag-default);
  --x-size-line-height-curated-tag-default-selected: var(--x-size-line-height-tag-default);
  --x-number-font-weight-curated-tag-default-selected: var(--x-number-font-weight-tag-default);

}
