.x-tag--ghost.x-tag,
.x-tag--ghost .x-tag {
  // color
  --x-color-background-tag: var(--x-color-background-tag-ghost);
  --x-color-border-tag: var(--x-color-border-tag-ghost);
  --x-color-background-tag-selected: var(--x-color-background-tag-selected-ghost);
  --x-color-border-tag-selected: var(--x-color-border-tag-selected-ghost);

  // typography
  --x-font-weight-tag-selected: var(--x-font-weight-tag-selected-ghost);
}
