.x-tag--ghost.x-tag,
.x-tag--ghost .x-tag {
  // color
  --x-color-background-tag-default: var(--x-color-background-tag-ghost);
  --x-color-border-tag-default: var(--x-color-border-tag-ghost);
  --x-color-background-tag-default-curated: var(--x-color-background-tag-curated-ghost);
  --x-color-border-tag-default-curated: var(--x-color-border-tag-curated-ghost);
  --x-color-background-tag-default-selected: var(--x-color-background-tag-selected-ghost);
  --x-color-border-tag-default-selected: var(--x-color-border-tag-selected-ghost);
  --x-color-background-tag-default-curated-selected: var(--x-color-background-tag-curated-selected-ghost);
  --x-color-border-tag-default-curated-selected: var(--x-color-border-tag-curated-selected-ghost);

  // typography
  --x-number-font-weight-tag-default-selected: var(--x-number-font-weight-tag-selected-ghost);
  --x-number-font-weight-tag-default-curated-selected: var(--x-number-font-weight-tag-curated-selected-ghost);
}
