:root{
  // border
  --x-size-border-radius-tag-pill: var(--x-size-border-radius-base-pill);
  --x-size-border-radius-top-left-tag-pill: var(--x-size-border-radius-tag-pill);
  --x-size-border-radius-top-right-tag-pill: var(--x-size-border-radius-tag-pill);
  --x-size-border-radius-bottom-right-tag-pill: var(--x-size-border-radius-tag-pill);
  --x-size-border-radius-bottom-left-tag-pill: var(--x-size-border-radius-tag-pill);
}
