.x-icon {
  // colors
  stroke: var(--x-color-stroke-icon-default);
  fill: var(--x-color-fill-icon-default);

  // layout
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  vertical-align: middle;

  // sizing
  line-height: var(--x-size-height-icon-default);
  width: var(--x-size-width-icon-default);
  height: var(--x-size-height-icon-default);
  font-size: var(--x-size-height-icon-default);

  // stroke
  stroke-linecap: var(--x-string-stroke-linecap-icon-default);
  stroke-linejoin: var(--x-string-stroke-linejoin-icon-default);
  stroke-width: var(--x-size-stroke-width-icon-default);

  &.x-filled {
    // colors
    stroke: none;
    fill: var(--x-color-stroke-icon-default);
  }
}
