:root {
  // color
  --x-color-stroke-icon-default: currentColor;
  --x-color-fill-icon-default: none;

  // sizing
  --x-size-width-icon-default: var(--x-size-width-icon-m);
  --x-size-height-icon-default: var(--x-size-height-icon-m);

  // stroke
  --x-string-stroke-linecap-icon-default: butt;
  --x-string-stroke-linejoin-icon-default: mitter;
  --x-size-stroke-width-icon-default: theme('spacing.1')px;
}
