.x-row {
  // layout
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  justify-items: var(--x-size-justify-row);
  align-items: var(--x-size-align-row);

  // size
  padding: var(--x-size-padding-row);
  gap: var(--x-size-gap-row);
  margin: 0;

  &__item {
    // layout
    grid-column-start: var(--x-size-start-row-item);
    grid-column-end: span var(--x-size-span-row-item);

    //others
    list-style: none;
  }

  @for $i from 1 through 12 {
    &__item--span-#{$i} {
      --x-size-span-row-item: #{$i};
    }
  }

  @for $i from 1 through 12 {
    &__item--start-#{$i} {
      --x-size-start-row-item: #{$i};
    }
  }
}

@each $alignment in start, center, end, stretch {
  .x-row--justify-#{$alignment} {
    --x-size-justify-row: #{$alignment};
  }

  .x-row--align-#{$alignment} {
    --x-size-align-row: #{$alignment};
  }
}
