:root {
  // color
  --x-color-background-facet-default: transparent;
  --x-color-border-facet-default: var(--x-color-background-facet-default);
  --x-color-text-facet-default: var(--x-color-text-default);
  --x-color-background-facet-header-default: var(--x-color-background-facet-default);
  --x-color-border-facet-header-default: var(--x-color-background-facet-default);

  // border
  --x-size-border-width-facet-default: var(--x-size-border-width-base);
  --x-size-border-width-top-facet-default: var(--x-size-border-width-facet-default);
  --x-size-border-width-right-facet-default: var(--x-size-border-width-facet-default);
  --x-size-border-width-bottom-facet-default: var(--x-size-border-width-facet-default);
  --x-size-border-width-left-facet-default: var(--x-size-border-width-facet-default);

  --x-size-border-width-facet-header-default: var(--x-size-border-width-base);
  --x-size-border-width-top-facet-header-default: var(--x-size-border-width-facet-header-default);
  --x-size-border-width-right-facet-header-default: var(--x-size-border-width-facet-header-default);
  --x-size-border-width-bottom-facet-header-default: var(
    --x-size-border-width-facet-header-default
  );
  --x-size-border-width-left-facet-header-default: var(--x-size-border-width-facet-header-default);

  --x-size-border-radius-facet-default: var(--x-size-border-radius-base-none);
  --x-size-border-radius-top-left-facet-default: var(--x-size-border-radius-facet-default);
  --x-size-border-radius-top-right-facet-default: var(--x-size-border-radius-facet-default);
  --x-size-border-radius-bottom-right-facet-default: var(--x-size-border-radius-facet-default);
  --x-size-border-radius-bottom-left-facet-default: var(--x-size-border-radius-facet-default);

  // size
  --x-size-padding-top-facet-header-default: var(--x-size-base-03);
  --x-size-padding-right-facet-header-default: 0;
  --x-size-padding-bottom-facet-header-default: var(--x-size-base-03);
  --x-size-padding-left-facet-header-default: 0;
  --x-size-gap-facet-header-default: var(--x-size-base-03);

  // typography
  --x-font-family-facet-default: var(--x-font-family-title3);
  --x-size-font-facet-default: var(--x-size-font-title3);
  --x-number-font-weight-facet-default: var(--x-number-font-weight-title3);
  --x-size-line-height-facet-default: var(--x-size-line-height-title3);
}
