@import '../../mixins';

.x-facet {
  // layout
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  box-sizing: border-box;

  // color
  background-color: var(--x-color-background-facet-default);
  border-color: var(--x-color-border-facet-default);

  // border
  border-style: solid;
  border-block-start-width: var(--x-size-border-width-top-facet-default);
  border-inline-end-width: var(--x-size-border-width-right-facet-default);
  border-block-end-width: var(--x-size-border-width-bottom-facet-default);
  border-inline-start-width: var(--x-size-border-width-left-facet-default);
  border-radius:var(--x-size-border-radius-top-left-facet-default)
    var(--x-size-border-radius-top-right-facet-default)
    var(--x-size-border-radius-bottom-right-facet-default)
    var(--x-size-border-radius-bottom-left-facet-default);

  > *:first-child,
  &__header {
    // layout
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: flex-start;
    text-align: start;
    box-sizing: border-box;

    // color
    background-color: var(--x-color-background-facet-header-default);
    border-color: var(--x-color-border-facet-header-default);
    color: var(--x-color-text-facet-default);

    // size
    gap: var(--x-size-gap-facet-header-default);
    @include safari-gap(var(--x-size-gap-facet-header-default));
    padding-block-start: var(--x-size-padding-top-facet-header-default);
    padding-block-end: var(--x-size-padding-bottom-facet-header-default);
    padding-inline-start: var(--x-size-padding-left-facet-header-default);
    padding-inline-end: var(--x-size-padding-right-facet-header-default);

    // border
    border-style: solid;
    border-block-start-width: var(--x-size-border-width-top-facet-header-default);
    border-inline-end-width: var(--x-size-border-width-right-facet-header-default);
    border-block-end-width: var(--x-size-border-width-bottom-facet-header-default);
    border-inline-start-width: var(--x-size-border-width-left-facet-header-default);

    // typography
    font-family: var(--x-font-family-facet-default);
    font-size: var(--x-size-font-facet-default);
    font-weight: var(--x-number-font-weight-facet-default);
    line-height: var(--x-size-line-height-facet-default);

    .x-icon {
      --x-size-height-icon: var(--x-size-line-height-facet-default);
      --x-size-width-icon: var(--x-size-line-height-facet-default);

      &:last-child:not(:first-child) {
        margin-left: auto;
      }
    }
  }
}
