:root {
  // color
  --x-color-background-facet: transparent;
  --x-color-border-facet: var(--x-color-background-facet);
  --x-color-text-facet: var(--x-color-text);
  --x-color-background-facet-header: var(--x-color-background-facet);
  --x-color-border-facet-header: var(--x-color-background-facet);

  // border
  --x-border-radius-facet: var(--x-border-radius-none);
  --x-border-radius-facet-header: var(--x-border-radius-none);
  --x-border-width-facet: var(--x-border-width);
  --x-border-width-facet-header: 0 0 var(--x-border-width-facet);

  // spacing
  --x-space-padding-facet-header: var(--x-space-03) 0;
  --x-space-gap-facet-header: var(--x-space-03);

  // typography
  --x-font-family-facet: var(--x-font-family-title3);
  --x-font-size-facet: var(--x-font-size-title3);
  --x-font-weight-facet: var(--x-font-weight-title3);
  --x-font-line-height-facet: var(--x-font-line-height-title3);
}
