:root {
  // color
  --x-color-border-facet-outlined: var(--x-color-neutral-70);

  // border
  --x-border-width-facet-outlined: var(--x-border-width);

  // spacing
  --x-space-padding-facet-header-outlined: var(--x-space-03);
}
