.x-option-list--bottom.x-option-list,
.x-option-list--bottom .x-option-list {
  // color
  --x-color-text-option-list-button-default: var(--x-color-text-option-list-button-bottom);
  --x-color-text-option-list-button-default-hover: var(
    --x-color-text-option-list-button-bottom-hover
  );

  --x-color-border-option-list-item-default: var(--x-color-border-option-list-item-bottom);
  --x-color-border-top-option-list-item-default: var(--x-color-border-top-option-list-item-bottom);
  --x-color-border-right-option-list-item-default: var(
    --x-color-border-top-option-list-item-bottom
  );
  --x-color-border-bottom-option-list-item-default: var(
    --x-color-border-top-option-list-item-bottom
  );
  --x-color-border-left-option-list-item-default: var(--x-color-border-top-option-list-item-bottom);

  // border
  --x-size-border-width-option-list-item-default: var(
    --x-size-border-width-option-list-item-bottom
  );
  --x-size-border-width-top-option-list-item-default: var(
    --x-size-border-width-top-option-list-item-bottom
  );
  --x-size-border-width-right-option-list-item-default: var(
    --x-size-border-width-right-option-list-item-bottom
  );
  --x-size-border-width-bottom-option-list-item-default: var(
    --x-size-border-width-bottom-option-list-item-bottom
  );
  --x-size-border-width-left-option-list-item-default: var(
    --x-size-border-width-left-option-list-item-bottom
  );

  .x-option-list__item.x-option-list__item--is-selected {
    // color
    --x-color-text-option-list-button-default-selected: var(
      --x-color-text-option-list-button-bottom-selected
    );

    --x-color-text-option-list-button-default-selected-hover: var(
      --x-color-text-option-list-button-bottom-selected-hover
    );

    --x-color-border-option-list-item-default-selected: var(
      --x-color-border-option-list-item-bottom-selected
    );
    --x-color-border-top-option-list-item-default-selected: var(
      --x-color-border-top-option-list-item-bottom-selected
    );
    --x-color-border-right-option-list-item-default-selected: var(
      --x-color-border-top-option-list-item-bottom-selected
    );
    --x-color-border-bottom-option-list-item-default-selected: var(
      --x-color-border-bottom-option-list-item-bottom-selected
    );
    --x-color-border-left-option-list-item-default-selected: var(
      --x-color-border-top-option-list-item-bottom-selected
    );

    // border
    --x-size-border-width-top-option-list-item-default: var(
      --x-size-border-width-top-option-list-item-bottom-selected
    );
    --x-size-border-width-right-option-list-item-default: var(
      --x-size-border-width-right-option-list-item-bottom-selected
    );
    --x-size-border-width-bottom-option-list-item-default: var(
      --x-size-border-width-bottom-option-list-item-bottom-selected
    );
    --x-size-border-width-left-option-list-item-default: var(
      --x-size-border-width-left-option-list-item-bottom-selected
    );

    // typography
    --x-number-font-weight-option-list-button-default-selected: var(
      --x-number-font-weight-option-list-button-bottom-selected
    );
  }

  // typography
  --x-font-decoration-option-list-button-default-hover: var(
    --x-font-decoration-option-list-button-bottom-hover
  );
  --x-size-font-option-list-button-default: var(--x-size-font-option-list-button-bottom);
  --x-number-font-weight-option-list-button-default: var(
    --x-number-font-weight-option-list-button-bottom
  );

  .x-option-list__item:last-child {
    --x-size-border-width-option-list-item-default: inherit;
    --x-size-border-width-top-option-list-item-default: inherit;
    --x-size-border-width-right-option-list-item-default: inherit;
    --x-size-border-width-bottom-option-list-item-default: inherit;
    --x-size-border-width-left-option-list-item-default: inherit;
  }
}
