:root {
  // color
  --x-color-text-option-list-button-bottom-hover: var(--x-color-base-neutral-10);
  --x-color-text-option-list-button-bottom-selected-hover: var(
    --x-color-text-option-list-button-bottom-selected
  );
  --x-color-text-option-list-button-bottom: var(--x-color-base-neutral-35);
  --x-color-text-option-list-button-bottom-selected: var(--x-color-text-default);

  --x-color-border-option-list-item-bottom: transparent;
  --x-color-border-top-option-list-item-bottom: var(--x-color-border-option-list-item-bottom);
  --x-color-border-right-option-list-item-bottom: var(--x-color-border-option-list-item-bottom);
  --x-color-border-bottom-option-list-item-bottom: var(--x-color-border-option-list-item-bottom);
  --x-color-border-left-option-list-item-bottom: var(--x-color-border-option-list-item-bottom);

  --x-color-border-option-list-item-bottom-selected: var(--x-color-base-neutral-10);
  --x-color-border-top-option-list-item-bottom-selected: var(
    --x-color-border-option-list-item-bottom
  );
  --x-color-border-right-option-list-item-bottom-selected: var(
    --x-color-border-option-list-item-bottom
  );
  --x-color-border-bottom-option-list-item-bottom-selected: var(
    --x-color-border-option-list-item-bottom-selected
  );
  --x-color-border-left-option-list-item-bottom-selected: var(
    --x-color-border-option-list-item-bottom
  );

  // border
  --x-size-border-width-option-list-item-bottom: var(--x-size-border-width-base);
  --x-size-border-width-top-option-list-item-bottom: 0;
  --x-size-border-width-right-option-list-item-bottom: 0;
  --x-size-border-width-bottom-option-list-item-bottom: var(
    --x-size-border-width-option-list-item-bottom
  );
  --x-size-border-width-left-option-list-item-bottom: 0;

  --x-size-border-width-top-option-list-item-bottom-selected: 0;
  --x-size-border-width-right-option-list-item-bottom-selected: 0;
  --x-size-border-width-bottom-option-list-item-bottom-selected: var(
    --x-size-border-width-option-list-item-bottom
  );
  --x-size-border-width-left-option-list-item-bottom-selected: 0;

  // typography
  --x-font-decoration-option-list-button-bottom-hover: none;
  --x-number-font-weight-option-list-button-bottom: var(--x-number-font-weight-base-regular);
  --x-number-font-weight-option-list-button-bottom-selected: var(
    --x-number-font-weight-base-regular
  );
}
