.x-option-list {
  // layout
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  box-sizing: border-box;
  list-style-type: none;

  // size
  margin: 0;
  padding: 0;

  &__item {
    // color
    border-top-color: var(--x-color-border-top-option-list-item-default);
    border-right-color: var(--x-color-border-right-option-list-item-default);
    border-bottom-color: var(--x-color-border-bottom-option-list-item-default);
    border-left-color: var(--x-color-border-left-option-list-item-default);

    // border
    border-style: solid;
    border-block-start-width: var(--x-size-border-width-top-option-list-item-default);
    border-inline-end-width: var(--x-size-border-width-right-option-list-item-default);
    border-block-end-width: var(--x-size-border-width-bottom-option-list-item-default);
    border-inline-start-width: var(--x-size-border-width-left-option-list-item-default);

    &.x-option-list__item--is-selected {
      // color
      --x-color-border-option-list-item-default: var(
        --x-color-border-option-list-item-default-selected
      );
      --x-color-border-top-option-list-item-default: var(
        --x-color-border-top-option-list-item-default-selected
      );
      --x-color-border-right-option-list-item-default: var(
        --x-color-border-right-option-list-item-default-selected
      );
      --x-color-border-bottom-option-list-item-default: var(
        --x-color-border-bottom-option-list-item-default-selected
      );
      --x-color-border-left-option-list-item-default: var(
        --x-color-border-left-option-list-item-default-selected
      );

      // border
      --x-size-border-width-top-option-list-item-default: var(
        --x-size-border-width-top-option-list-item-default-selected
      );
      --x-size-border-width-right-option-list-item-default: var(
        --x-size-border-width-right-option-list-item-default-selected
      );
      --x-size-border-width-bottom-option-list-item-default: var(
        --x-size-border-width-bottom-option-list-item-default-selected
      );
      --x-size-border-width-left-option-list-item-default: var(
        --x-size-border-width-left-option-list-item-default-selected
      );

      .x-button {
        // color
        --x-color-background-button-default: var(
          --x-color-background-option-list-button-default-selected
        );
        --x-color-border-button-default: var(--x-color-border-option-list-button-default-selected);
        --x-color-text-button-default: var(--x-color-text-option-list-button-default-selected);

        // typography
        --x-number-font-weight-option-list-button-default: var(
          --x-number-font-weight-option-list-button-default-selected
        );

        &:hover {
          // color
          --x-color-background-button-default: var(
            --x-color-background-option-list-button-default-selected-hover
          );
          --x-color-border-button-default: var(
            --x-color-border-option-list-button-default-selected-hover
          );
          --x-color-text-button-default: var(
            --x-color-text-option-list-button-default-selected-hover
          );
        }
      }
    }

    &:last-child {
      --x-size-border-width-option-list-item-default: 0;
      --x-size-border-width-top-option-list-item-default: 0;
      --x-size-border-width-right-option-list-item-default: 0;
      --x-size-border-width-bottom-option-list-item-default: 0;
      --x-size-border-width-left-option-list-item-default: 0;
    }

    .x-button {
      // color
      --x-color-background-button-default: var(--x-color-background-option-list-button-default);
      --x-color-border-button-default: var(--x-color-border-option-list-button-default);
      --x-color-text-button-default: var(--x-color-text-option-list-button-default);

      //layout
      min-height: auto;
      --x-size-padding-button-default: var(--x-size-padding-option-list-button-default);
      --x-size-padding-top-button-default: var(--x-size-padding-top-option-list-button-default);
      --x-size-padding-right-button-default: var(--x-size-padding-right-option-list-button-default);
      --x-size-padding-bottom-button-default: var(
        --x-size-padding-bottom-option-list-button-default
      );
      --x-size-padding-left-button-default: var(--x-size-padding-left-option-list-button-default);

      // typography
      --x-number-font-weight-button-default: var(--x-number-font-weight-option-list-button-default);

      &:hover {
        // color
        --x-color-background-button-default: var(
          --x-color-background-option-list-button-default-hover
        );
        --x-color-border-button-default: var(--x-color-border-option-list-button-default-hover);
        --x-color-text-button-default: var(--x-color-text-option-list-button-default-hover);

        // typography
        text-decoration: var(--x-font-decoration-option-list-button-default-hover);
      }
    }
  }
}
