@use "sass:math" as *;

.x-animate-scale {
  $p: &;

  &--enter-active,
  &--leave-active,
  &--enter-active *,
  &--leave-active * {
    animation-duration: var(--x-duration-animation, 0.3s);
    animation-timing-function: linear;
  }

  &--enter-active,
  &--leave-active {
    &#{$p}--top,
    &#{$p}--bottom {
      animation-name: containerAnimationY;
    }
    &#{$p}--left,
    &#{$p}--right {
      animation-name: containerAnimationX;
    }
    overflow: hidden;
  }

  &--enter-active,
  &--leave-active {
    &#{$p}--top > *,
    &#{$p}--bottom > * {
      animation-name: contentAnimationY;
    }
    &#{$p}--left > *,
    &#{$p}--right > * {
      animation-name: contentAnimationX;
    }
  }

  &--leave-active,
  &--leave-active > * {
    animation-direction: reverse;
  }

  $origins: top, bottom, left, right;
  @each $origin in $origins {
    &--#{$origin} {
      &#{$p}--enter-active,
      &#{$p}--leave-active,
      &#{$p}--enter-active > *,
      &#{$p}--leave-active > * {
        transform-origin: $origin center;
      }
    }
  }
}

@function easeInOut($x) {
  @if $x < 0.5 {
    @return 8 * $x * $x * $x * $x;
  } @else {
    $x: $x - 1;
    @return 1 - (8 * $x * $x * $x * $x);
  }
}
$steps: 18;
@keyframes containerAnimationY {
  @for $step from 0 through $steps {
    $scale: easeInOut(div($step, $steps));
    #{$step * div(100, $steps)}% {
      transform: scaleY(#{$scale});
    }
  }
}

@keyframes contentAnimationY {
  @for $step from 0 through $steps {
    $scale: easeInOut(div($step, $steps));
    $invScale: if($scale > 0, div(1, $scale), 99999999);
    #{$step * div(100, $steps)}% {
      transform: scaleY(#{$invScale});
    }
  }
}

@keyframes containerAnimationX {
  @for $step from 0 through $steps {
    $scale: easeInOut(div($step, $steps));
    #{$step * div(100, $steps)}% {
      transform: scaleX(#{$scale});
    }
  }
}

@keyframes contentAnimationX {
  @for $step from 0 through $steps {
    $scale: easeInOut(div($step, $steps));
    $invScale: if($scale > 0, div(1, $scale), 99999999);
    #{$step * div(100, $steps)}% {
      transform: scaleX(#{$invScale});
    }
  }
}
