.x-button--tertiary.x-button,
.x-button--tertiary .x-button {
  // color
  background-color: var(--x-color-background-button-tertiary);
  border-color: var(--x-color-border-button-tertiary);
  color: var(--x-color-text-button-tertiary);
}
