.x-picture--colored.x-picture {
  // colors
  --x-color-background-picture-default: var(--x-color-background-picture-colored);

  .x-picture {
    &__image {
      // others
      --x-mix-blend-mode-picture-default: var(--x-mix-blend-mode-picture-colored);
    }

    &--fallback {
      // others
      --x-mix-blend-mode-picture-default: var(--x-mix-blend-mode-picture-fallback-colored);
    }

    &--placeholder {
      // others
      --x-mix-blend-mode-picture-default: var(--x-mix-blend-mode-picture-placeholder-colored);
    }
  }
}
