.x-picture {
  display: block;
  overflow: hidden;

  // border
  border-radius: var(--x-size-border-radius-top-picture-default)
    var(--x-size-border-radius-right-picture-default)
    var(--x-size-border-radius-bottom-picture-default)
    var(--x-size-border-radius-left-picture-default);

  // color
  background: var(--x-color-background-picture-default);

  &__image {
    // layout
    display: block;

    // sizes
    width: 100%;
    height: 100%;

    // others
    object-fit: var(--x-object-fit-picture-default);
    mix-blend-mode: var(--x-mix-blend-mode-picture-default);

    &--fallback {
      --x-object-fit-picture-default: var(--x-object-fit-picture-fallback-default) !important;
      --x-mix-blend-mode-picture-default: var
        (--x-mix-blend-mode-picture-fallback-default) !important;

      & > rect {
        fill: var(--x-color-fill-picture-fallback-rect-default) !important;
      }
      & > path {
        fill: var(--x-color-fill-picture-fallback-path-default) !important;
      }
    }

    &--placeholder {
      --x-object-fit-picture-default: var(--x-object-fit-picture-placeholder-default) !important;
      --x-mix-blend-mode-picture-default: var(--x-mix-blend-mode-picture-placeholder-default) !important;

      & > rect {
        fill: var(--x-color-fill-picture-placeholder-rect-default) !important;
      }
      & > path {
        fill: var(--x-color-fill-picture-placeholder-path-default) !important;
      }
    }
  }
}
