@import '../../mixins';

.x-button {
  // layout
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;

  // spacing
  gap: var(--x-size-gap-button-default);
  @include safari-gap(var(--x-size-gap-button-default));
  padding: var(--x-size-padding-top-button-default) var(--x-size-padding-right-button-default)
    var(--x-size-padding-bottom-button-default) var(--x-size-padding-left-button-default);

  // color
  background-color: var(--x-color-background-button-default);
  border-color: var(--x-color-border-button-default);
  color: var(--x-color-text-button-default);

  // border
  border-style: solid;
  border-width: var(--x-size-border-width-top-button-default)
    var(--x-size-border-width-right-button-default) var(--x-size-border-width-bottom-button-default)
    var(--x-size-border-width-left-button-default);
  border-radius: var(--x-size-border-radius-top-left-button-default)
    var(--x-size-border-radius-top-right-button-default)
    var(--x-size-border-radius-bottom-right-button-default)
    var(--x-size-border-radius-bottom-left-button-default);

  // typography
  font-family: var(--x-font-family-button-default);
  font-size: var(--x-size-font-button-default);
  font-weight: var(--x-number-font-weight-button-default);
  line-height: var(--x-size-line-height-button-default);

  // other
  cursor: pointer;
}
