:root {
  // color
  --x-color-background-button: var(--x-color-lead);
  --x-color-border-button: var(--x-color-background-button);
  --x-color-text-button: var(--x-color-neutral-100);

  // border
  --x-border-radius-button: var(--x-border-radius-none);
  --x-border-width-button: var(--x-border-width);

  // spacing
  --x-space-padding-button: var(--x-space-04) var(--x-space-05);
  --x-space-gap-button: var(--x-space-03);

  // typography
  --x-font-family-button: var(--x-font-family-text);
  --x-font-size-button: var(--x-font-size-text);
  --x-font-weight-button: var(--x-font-weight-bold);
  --x-font-line-height-button: var(--x-font-line-height-text);
}
