:root {
  // color
  --x-color-background-button-default: var(--x-color-base-lead);
  --x-color-border-button-default: var(--x-color-background-button-default);
  --x-color-text-button-default: var(--x-color-base-neutral-100);

  // border
  --x-size-border-radius-button-default: var(--x-size-border-radius-base-none);
  --x-size-border-radius-top-left-button-default: var(--x-size-border-radius-button-default);
  --x-size-border-radius-top-right-button-default: var(--x-size-border-radius-button-default);
  --x-size-border-radius-bottom-right-button-default: var(--x-size-border-radius-button-default);
  --x-size-border-radius-bottom-left-button-default: var(--x-size-border-radius-button-default);

  --x-size-border-width-button-default: var(--x-size-border-width-base);
  --x-size-border-width-top-button-default: var(--x-size-border-width-button-default);
  --x-size-border-width-right-button-default: var(--x-size-border-width-button-default);
  --x-size-border-width-bottom-button-default: var(--x-size-border-width-button-default);
  --x-size-border-width-left-button-default: var(--x-size-border-width-button-default);

  // spacing
  --x-size-padding-top-button-default: var(--x-size-base-04);
  --x-size-padding-right-button-default: var(--x-size-base-05);
  --x-size-padding-bottom-button-default: var(--x-size-base-04);
  --x-size-padding-left-button-default: var(--x-size-base-05);
  --x-size-gap-button-default: var(--x-size-base-03);

  // typography
  --x-font-family-button-default: var(--x-font-family-text);
  --x-size-font-button-default: var(--x-size-font-text);
  --x-number-font-weight-button-default: var(--x-number-font-weight-base-bold);
  --x-size-line-height-button-default: var(--x-size-line-height-text);
}
