.x-button--ghost.x-button,
.x-button--ghost .x-button {
  // color
  --x-color-background-button-default: var(--x-color-background-button-ghost);
  --x-color-border-button-default: var(--x-color-border-button-ghost);
  --x-color-text-button-default: var(--x-color-text-button-ghost);
}

.x-button--ghost.x-button--ghost-start.x-button,
.x-button--ghost.x-button--ghost-start .x-button {
  // size
  --x-size-padding-left-button-default: 0;
}

.x-button--ghost.x-button--ghost-end.x-button,
.x-button--ghost.x-button--ghost-end .x-button {
  // size
  --x-size-padding-right-button-default: 0;
}
