.x-button--primary.x-button,
.x-button--primary .x-button {
  // color
  --x-color-background-button-default: var(--x-color-background-button-primary);
  --x-color-border-button-default: var(--x-color-border-button-primary);
  --x-color-text-button-default: var(--x-color-text-button-primary);
  // border
  --x-size-border-width-top-button-default: var(--x-size-border-width-top-button-primary);
  --x-size-border-width-right-button-default: var(--x-size-border-width-right-button-primary);
  --x-size-border-width-bottom-button-default: var(--x-size-border-width-bottom-button-primary);
  --x-size-border-width-left-button-default: var(--x-size-border-width-left-button-primary);
}
