:root {
  // color
  --x-color-background-button-primary: var(--x-color-background-button-default);
  --x-color-border-button-primary: var(--x-color-border-button-default);
  --x-color-text-button-primary: var(--x-color-text-button-default);
}
