.x-button--round.x-button,
.x-button--round .x-button {
  // border
  --x-size-border-radius-button-default: var(--x-size-border-radius-button-round);
  --x-size-border-radius-top-left-button-default: var(--x-size-border-radius-top-left-button-round);
  --x-size-border-radius-top-right-button-default: var(
    --x-size-border-radius-top-right-button-round
  );
  --x-size-border-radius-bottom-right-button-default: var(
    --x-size-border-radius-bottom-right-button-round
  );
  --x-size-border-radius-bottom-left-button-default: var(
    --x-size-border-radius-bottom-left-button-round
  );

  // size
  min-width: var(--x-size-height-button-default);
  --x-size-padding-left-button-default: 0;
  --x-size-padding-right-button-default: 0;
}
