:root {
  // border
  --x-size-border-radius-button-round: var(--x-size-border-radius-base-pill);
  --x-size-border-radius-top-left-button-round: var(--x-size-border-radius-button-round);
  --x-size-border-radius-top-right-button-round: var(--x-size-border-radius-button-round);
  --x-size-border-radius-bottom-right-button-round: var(--x-size-border-radius-button-round);
  --x-size-border-radius-bottom-left-button-round: var(--x-size-border-radius-button-round);
}
