:root {
  // color
  --x-color-background-button-secondary: transparent;
  --x-color-border-button-secondary: var(--x-color-border-button-default);
  --x-color-text-button-secondary: var(--x-color-border-button-default);
}
