.x-button--secondary.x-button,
.x-button--secondary .x-button {
  // color
  --x-color-background-button-default: var(--x-color-background-button-secondary);
  --x-color-border-button-default: var(--x-color-border-button-secondary);
  --x-color-text-button-default: var(--x-color-text-button-secondary);
  // border
  --x-size-border-width-top-button-default: var(--x-size-border-width-top-button-secondary);
  --x-size-border-width-right-button-default: var(--x-size-border-width-right-button-secondary);
  --x-size-border-width-bottom-button-default: var(--x-size-border-width-bottom-button-secondary);
  --x-size-border-width-left-button-default: var(--x-size-border-width-left-button-secondary);
}
