:root {
  // color
  --x-color-background-button-secondary: transparent;
  --x-color-border-button-secondary: var(--x-color-border-button-default);
  --x-color-text-button-secondary: var(--x-color-border-button-default);
  // border
  --x-size-border-width-button-secondary: var(--x-size-border-width-base);
  --x-size-border-width-top-button-secondary: var(--x-size-border-width-button-secondary);
  --x-size-border-width-right-button-secondary: var(--x-size-border-width-button-secondary);
  --x-size-border-width-bottom-button-secondary: var(--x-size-border-width-button-secondary);
  --x-size-border-width-left-button-secondary: var(--x-size-border-width-button-secondary);
}
