.x-button--tertiary.x-button,
.x-button--tertiary .x-button {
  // color
  --x-color-background-button: var(--x-color-background-button-tertiary);
  --x-color-border-button: var(--x-color-border-button-tertiary);
  --x-color-text-button: var(--x-color-text-button-tertiary);
}
