:root {
  // color
  --x-color-background-button-tertiary: var(--x-color-base-neutral-95);
  --x-color-border-button-tertiary: var(--x-color-base-neutral-70);
  --x-color-text-button-tertiary: var(--x-color-text-default);
}
