@import 'tailwindcss';

@plugin "../../../src/x-tailwind-plugin/plugin";

/*@layer components {
  .x-custom-button {
    @apply x-button x-button-outlined x-button-highlight x-button-lg x-transition-colors;
  }
}
*/
