.modal-toggle:checked + .modal {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
}
.modal {
    pointer-events: none;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 999;
    overflow-y: auto;
}
.modal-toggle {
    position: fixed;
    height: 0;
    width: 0;
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
}
html:has(.modal-toggle:checked) {
    overflow: hidden;
}
