.x-result {
  // layout
  display: grid;
  grid-template-columns: [result-start] 1fr [result-end];
  grid-template-rows:
    [picture-start]
    auto
    [overlay-start]
    auto
    [picture-end overlay-end description-start]
    auto
    [description-end];
  box-sizing: border-box;

  // color
  background-color: var(--x-color-background-result-default);
  border-color: var(--x-color-border-result-default);

  // size
  padding: var(--x-size-padding-result-default);
  gap: var(--x-size-gap-result-default);

  // border
  border-style: solid;
  border-width: var(--x-size-border-width-result-default);
  border-radius: var(--x-size-border-radius-result-default);

  > * {
    min-width: 0;
  }

  &__picture {
    // layout
    grid-column: result;
    grid-row: picture;

    // color
    border-color: var(--x-color-border-result-picture-default);

    // size
    padding: var(--x-size-padding-result-picture-default);

    // border
    border-style: solid;
    border-width: var(--x-size-border-width-result-picture-default);
  }

  &__overlay {
    // layout
    grid-column: result;
    grid-row: overlay;
    z-index: 1;

    // color
    border-color: var(--x-color-border-result-overlay-default);

    //spacing
    padding: var(--x-size-padding-result-overlay-default);

    // border
    border-style: solid;
    border-width: var(--x-size-border-width-result-overlay-default);

    // visibility
    opacity: 0;
  }

  &__description {
    // layout
    grid-column: result;
    grid-row: description;

    // color
    border-color: var(--x-color-border-result-description-default);

    //spacing
    padding: var(--x-size-padding-result-description-default);

    // border
    border-style: solid;
    border-width: var(--x-size-border-width-result-description-default);
  }

  &:hover {
    .x-result__overlay {
      // visibility
      opacity: 1;
    }
  }
  @media (hover: none) {
    .x-result__overlay {
      // visibility
      opacity: 1;
    }
  }
}
