:root {
  // color
  --x-color-border-result-default: var(--x-color-base-lead);
  --x-color-border-result-picture-default: var(--x-color-border-result-default);
  --x-color-border-result-overlay-default: var(--x-color-border-result-default);
  --x-color-border-result-description-default: var(--x-color-border-result-default);
  --x-color-background-result-default: transparent;

  // size
  --x-size-padding-result-default: 0;
  --x-size-padding-result-picture-default: 0;
  --x-size-padding-result-overlay-default: 0;
  --x-size-padding-result-description-default: 0;
  --x-size-gap-result-default: var(--x-size-base-03);

  // border
  --x-size-border-radius-result-default: var(--x-size-border-radius-base-none);
  --x-size-border-width-result-default: 0;
  --x-size-border-width-result-picture-default: 0;
  --x-size-border-width-result-overlay-default: 0;
  --x-size-border-width-result-description-default: 0;
}
