:root {
  // FONT FAMILY
  --x-font-family: 'Montserrat', sans-serif;

  // FONT SIZES
  --x-font-size-xs: 12px;
  --x-font-size-s: 14px;
  --x-font-size-m: 16px;
  --x-font-size-l: 18px;
  --x-font-size-xl: 24px;

  // WEIGHTS
  --x-font-weight-light: 300;
  --x-font-weight-regular: 400;
  --x-font-weight-bold: 600;

  // LINE HEIGHT
  --x-font-line-height-xs: 8px;
  --x-font-line-height-s: 16px;
  --x-font-line-height-m: 24px;
  --x-font-line-height-l: 32px;
}
