:root {
  --x-size-base-01: 2px;
  --x-size-base-02: 4px;
  --x-size-base-03: 8px;
  --x-size-base-04: 12px;
  --x-size-base-05: 16px;
  --x-size-base-06: 24px;
  --x-size-base-07: 32px;
  --x-size-base-08: 40px;
  --x-size-base-09: 48px;
  --x-size-base-10: 56px;
}
