:root {
  --x-space-01: 2px;
  --x-space-02: 4px;
  --x-space-03: 8px;
  --x-space-04: 12px;
  --x-space-05: 16px;
  --x-space-06: 24px;
  --x-space-07: 32px;
  --x-space-08: 40px;
  --x-space-09: 48px;
  --x-space-10: 56px;
}
