:root {
  // FONT FAMILY
  --x-font-family-base: theme('fontFamily.primary');

  // FONT SIZES
  --x-size-font-base-xs: theme('fontSize.xs');
  --x-size-font-base-s: theme('fontSize.sm');
  --x-size-font-base-m: theme('fontSize.md');
  --x-size-font-base-l: theme('fontSize.lg');
  --x-size-font-base-xl: theme('fontSize.2xl');

  // WEIGHTS
  --x-number-font-weight-base-light: theme('fontWeight.light');
  --x-number-font-weight-base-regular: theme('fontWeight.regular');
  --x-number-font-weight-base-bold: theme('fontWeight.bold');

  // LINE HEIGHT
  --x-size-line-height-base-s: theme('lineHeight.legacy.sm');
  --x-size-line-height-base-m: theme('lineHeight.legacy.md');
  --x-size-line-height-base-l: theme('lineHeight.legacy.lg');
}
