:root {
  //layout
  --x-size-min-margin-layout-columns: var(--x-size-base-06);
  --x-size-column-gap-layout-columns: var(--x-size-base-06);

  //spacing

  // size - header
  --x-size-padding-top-layout-columns-header: var(--x-size-base-07);
  --x-size-padding-bottom-layout-columns-header: var(--x-size-base-05);

  // size - toolbar
  --x-size-padding-top-layout-columns-toolbar: var(--x-size-base-05);
  --x-size-padding-bottom-layout-columns-toolbar: var(--x-size-base-03);

  // size- scroll-to-top
  --x-size-margin-bottom-layout-columns-scroll-to-top: var(--x-size-base-03);
  --x-size-margin-left-layout-columns-scroll-to-top: var(--x-size-base-03);

  // color
  --x-color-background-layout-columns: var(--x-color-base-neutral-100);
  --x-color-border-layout-columns: var(--x-color-base-neutral-70);
  --x-color-border-layout-columns-header: var(--x-color-border-layout-columns);
  --x-color-border-layout-columns-sub-header: var(--x-color-border-layout-columns);
  --x-color-border-layout-columns-toolbar: var(--x-color-border-layout-columns);
  --x-color-border-layout-columns-main: var(--x-color-border-layout-columns);
  --x-color-border-layout-columns-main-aside: var(--x-color-border-layout-columns);
  --x-color-border-layout-columns-main-body: var(--x-color-border-layout-columns);

  // border
  --x-size-border-width-layout-columns-header: 0;
  --x-size-border-width-layout-columns-toolbar: 1px 0 0;
}
