:root {
  //layout
  --x-number-columns-layout: 5;
  --x-size-max-width-layout: 1440px;
  --x-size-min-margin-layout: var(--x-size-base-07);
  --x-size-column-gap-layout: var(--x-size-base-06);

  //spacing

  // size - header
  --x-size-padding-top-layout-header: var(--x-size-base-07);
  --x-size-padding-bottom-layout-header: var(--x-size-base-05);
  --x-size-margin-top-layout-header: 0;
  --x-size-margin-bottom-layout-header: 0;

  --x-size-flow-layout-header-start: row nowrap;
  --x-size-justify-layout-header-start: flex-start;
  --x-size-align-layout-header-start: flex-start;

  --x-size-flow-layout-header-middle: row nowrap;
  --x-size-justify-layout-header-middle: center;
  --x-size-align-layout-header-middle: flex-start;

  --x-size-flow-layout-header-end: row nowrap;
  --x-size-justify-layout-header-end: flex-end;
  --x-size-align-layout-header-end: flex-start;

  // size - empathize
  --x-size-padding-top-layout-empathize: 0;
  --x-size-padding-bottom-layout-empathize: var(--x-size-base-06);
  --x-size-margin-top-layout-empathize: 0;
  --x-size-margin-bottom-layout-empathize: 0;

  --x-size-flow-layout-empathize: row nowrap;
  --x-size-justify-layout-empathize: flex-start;
  --x-size-align-layout-empathize: flex-start;

  // size - toolbar
  --x-size-padding-top-layout-toolbar: var(--x-size-base-05);
  --x-size-padding-bottom-layout-toolbar: var(--x-size-base-03);
  --x-size-margin-top-layout-toolbar: 0;
  --x-size-margin-bottom-layout-toolbar: 0;

  --x-size-flow-layout-toolbar-aside: row nowrap;
  --x-size-justify-layout-toolbar-aside: flex-start;
  --x-size-align-layout-toolbar-aside: center;

  --x-size-flow-layout-toolbar-body: row nowrap;
  --x-size-justify-layout-toolbar-body: flex-end;
  --x-size-align-layout-toolbar-body: center;

  // size - main
  --x-size-padding-top-layout-main: 0;
  --x-size-padding-bottom-layout-main: 0;
  --x-size-margin-top-layout-main: 0;
  --x-size-margin-bottom-layout-main: 0;

  --x-size-flow-layout-main-aside: column nowrap;
  --x-size-justify-layout-main-aside: flex-start;
  --x-size-align-layout-main-aside: stretch;

  --x-size-flow-layout-main-body: column nowrap;
  --x-size-justify-layout-main-body: flex-start;
  --x-size-align-layout-main-body: stretch;

  // size- scroll-to-top
  --x-size-margin-bottom-layout-scroll-to-top: var(--x-size-base-03);
  --x-size-margin-left-layout-scroll-to-top: var(--x-size-base-03);

  // color
  --x-color-background-layout: var(--x-color-base-neutral-100);
  --x-color-background-layout-header: transparent;
  --x-color-background-layout-empathize: transparent;
  --x-color-background-layout-toolbar: transparent;
  --x-color-background-layout-main: transparent;
  --x-color-background-layout-main-aside: transparent;
  --x-color-background-layout-main-body: transparent;
  --x-color-border-layout: var(--x-color-base-neutral-70);
  --x-color-border-layout-header: var(--x-color-base-border-layout);
  --x-color-border-layout-empathize: var(--x-color-base-border-layout);
  --x-color-border-layout-toolbar: var(--x-color-base-border-layout);
  --x-color-border-layout-main: var(--x-color-base-border-layout);
  --x-color-border-layout-main-aside: var(--x-color-base-border-layout);
  --x-color-border-layout-main-body: var(--x-color-base-border-layout);

  // border
  --x-size-border-width-layout: 0;
  --x-size-border-width-layout-header: 0;
  --x-size-border-width-layout-empathize: 0;
  --x-size-border-width-layout-toolbar: 1px 0 0;
  --x-size-border-width-layout-main: 0;
  --x-size-border-width-layout-main-aside: 0;
  --x-size-border-width-layout-main-body: 0;
}
