:root {
  // size
  --x-string-overflow-scroll: auto;

  // color
  --x-color-background-scroll-bar: transparent;
  --x-color-thumb-scroll-bar: var(--x-color-base-neutral-95);

  --x-color-background-scroll-bar-hover: transparent;
  --x-color-thumb-scroll-bar-hover: var(--x-color-base-neutral-70);
}
