.x-sliding-panel {
  // layout
  z-index: 0;

  // color
  background-color: var(--x-color-background-sliding-panel);

  &__button.x-button {
    // size
    --x-size-padding-button: var(--x-size-padding-sliding-panel-button);

    // other
    z-index: 1;
  }

  &.x-sliding-panel--buttons-overflow {
    .x-sliding-panel {
      &__button-left {
        // layout
        transform: translateX(
          calc(-100% - var(--x-size-horizontal-margin-sliding-panel-button-overflow))
        );
      }

      &__button-right {
        // layout
        transform: translateX(
          calc(100% + var(--x-size-horizontal-margin-sliding-panel-button-overflow))
        );
      }
    }
  }

  &.x-sliding-panel--show-buttons-on-hover {
    .x-sliding-panel__button {
      // visibility
      opacity: 0;
    }

    &:not(.x-sliding-panel--at-start):hover {
      .x-sliding-panel__button-left {
        // visibility
        opacity: 1;
      }
    }

    &:not(.x-sliding-panel--at-end):hover {
      .x-sliding-panel__button-right {
        // visibility
        opacity: 1;
      }
    }
  }

  &:not(.x-sliding-panel--no-gradient) {
    .x-sliding-panel__scroll {
      mask: linear-gradient(
        to right,
        transparent calc(0.43 * var(--x-size-width-sliding-panel-gradient)),
        rgba(0, 0, 0, 0.8) calc(0.67 * var(--x-size-width-sliding-panel-gradient)),
        black var(--x-size-width-sliding-panel-gradient),
        rgba(0, 0, 0, 0.8) calc(100% - 0.67 * var(--x-size-width-sliding-panel-gradient)),
        transparent calc(100% - 0.43 * var(--x-size-width-sliding-panel-gradient))
      );
    }

    &.x-sliding-panel--at-start {
      .x-sliding-panel__scroll {
        mask: linear-gradient(
          to left,
          transparent calc(0.43 * var(--x-size-width-sliding-panel-gradient)),
          rgba(0, 0, 0, 0.8) calc(0.67 * var(--x-size-width-sliding-panel-gradient)),
          black var(--x-size-width-sliding-panel-gradient)
        );
      }
    }

    &.x-sliding-panel--at-end {
      .x-sliding-panel__scroll {
        mask: linear-gradient(
          to right,
          transparent calc(0.43 * var(--x-size-width-sliding-panel-gradient)),
          rgba(0, 0, 0, 0.8) calc(0.67 * var(--x-size-width-sliding-panel-gradient)),
          black var(--x-size-width-sliding-panel-gradient)
        );
      }
    }
  }

  &__scroll {
    > * {
      flex: 0 0 auto;
    }

    > .x-list {
      --x-string-flow-list: row nowrap;
    }
  }
}
