.x-sliding-panel {
  // layout
  z-index: 0;

  // color
  background-color: var(--x-color-background-sliding-panel);

  &__button.x-button {
    // size
    --x-size-padding-button: var(--x-size-padding-sliding-panel-button);
  }

  &.x-sliding-panel--buttons-overflow {
    .x-sliding-panel {
      &__button {
        // others
        pointer-events: all;
      }

      &__button-left {
        // layout
        transform: translateX(
          calc(-100% - var(--x-size-horizontal-margin-sliding-panel-button-overflow))
        );
      }

      &__button-right {
        // layout
        transform: translateX(
          calc(100% + var(--x-size-horizontal-margin-sliding-panel-button-overflow))
        );
      }
    }
  }

  &.x-sliding-panel--show-buttons-on-hover {
    .x-sliding-panel__button {
      // visibility
      opacity: 0;
    }

    &:not(.x-sliding-panel--at-start):hover {
      .x-sliding-panel__button-left {
        // visibility
        opacity: 1;

        // others
        pointer-events: all;
      }
    }

    &:not(.x-sliding-panel--at-end):hover {
      .x-sliding-panel__button-right {
        // visibility
        opacity: 1;

        // others
        pointer-events: all;
      }
    }
  }

  &:not(.x-sliding-panel--no-gradient) {
    &::before,
    &::after {
      // layout
      position: absolute;
      z-index: 1;

      // color
      background: var(--x-color-background-sliding-panel);

      // other
      content: '';
      pointer-events: none;

      // sizing
      height: 100%;
      width: var(--x-size-width-sliding-panel-gradient);

      // visibility
      opacity: 0;
    }

    &::before {
      // color
      mask: linear-gradient(to right, black 43%, rgba(0, 0, 0, 0.8) 67%, rgba(0, 0, 0, 0));

      // layout
      left: 0;
    }

    &::after {
      // color
      mask: linear-gradient(to left, black 43%, rgba(0, 0, 0, 0.8) 67%, rgba(0, 0, 0, 0));

      // layout
      right: 0;
    }

    &:not(.x-sliding-panel--at-start)::before,
    &:not(.x-sliding-panel--at-end)::after {
      // visibility
      opacity: 1;
    }
  }

  &__scroll {
    > * {
      flex: 0 0 auto;
    }

    > .x-list {
      --x-string-flow-list: row nowrap;
    }
  }
}
