:root {
  // border
  --x-border-radius-dropdown: var(--x-border-radius-none);
  --x-border-width-dropdown-toggle: var(--x-border-width);
  --x-border-width-dropdown-list: 0 var(--x-border-width-dropdown-toggle)
  var(--x-border-width-dropdown-toggle) var(--x-border-width-dropdown-toggle);

  // color
  --x-color-border-dropdown-toggle: var(--x-color-neutral-95);
  --x-color-border-dropdown-list: var(--x-color-border-dropdown-toggle);
  --x-color-background-dropdown: var(--x-color-neutral-100);
  --x-color-background-dropdown-toggle: var(--x-color-neutral-100);
  --x-color-background-dropdown-item-selected: var(--x-color-neutral-95);
  --x-color-background-dropdown-item-hover: var(--x-color-neutral-95);
  --x-color-font-dropdown: var(--x-color-text);
  --x-color-font-dropdown-toggle: var(--x-color-font-dropdown);
  --x-color-font-dropdown-toggle-selected: var(--x-color-neutral-35);
  --x-color-font-dropdown-item-hover: var(--x-color-neutral-35);
  --x-color-font-dropdown-item-selected: var(--x-color-text);

  // font
  --x-font-family-dropdown: var(--x-font-family-text);
  --x-font-size-dropdown: var(--x-font-size-text);
  --x-font-line-height-dropdown: var(--x-font-line-height-text);
  --x-font-weight-dropdown: var(--x-font-weight-regular);
  --x-font-weight-dropdown-item-hover: var(--x-font-weight-bold);
  --x-font-weight-dropdown-item-selected: var(--x-font-weight-regular);
  --x-font-decoration-dropdown-item-hover: none;
  --x-font-decoration-dropdown-item-selected: none;

  // spacing
  --x-space-gap-dropdown: 0;
  --x-space-padding-block-dropdown-item: var(--x-space-04);
  --x-space-padding-inline-dropdown-item: var(--x-space-05);
  --x-space-gap-dropdown-item: var(--x-space-03);

  // sizing
  --x-size-width-dropdown: auto;

  // other
  --x-rotation-toggle-icon-collapsed: 0;
  --x-rotation-toggle-icon-expanded: 180deg;
}
