.x-dropdown--line {
  // color
  --x-color-border-dropdown-toggle: var(--x-color-neutral-70);

  // spacing
  --x-space-padding-block-dropdown-item: var(--x-space-padding-block-dropdown-item-line);
  --x-space-padding-inline-dropdown-item: var(--x-space-padding-inline-dropdown-item-line);

  // border
  --x-border-width-dropdown-toggle: var(--x-border-width-dropdown-toggle-line);
  --x-border-width-dropdown-list: var(--x-border-width-dropdown-list-line);
}
