:root {
  // border
  --x-size-border-radius-input-group-card: var(--x-size-border-radius-base-s);
  --x-size-border-radius-top-left-input-group-card: var(--x-size-border-radius-input-group-card);
  --x-size-border-radius-top-right-input-group-card: var(--x-size-border-radius-input-group-card);
  --x-size-border-radius-bottom-right-input-group-card: var(--x-size-border-radius-input-group-card);
  --x-size-border-radius-bottom-left-input-group-card: var(--x-size-border-radius-input-group-card);
}
