@import '../../mixins';

.x-input-group {
  // layout
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 0;

  // size
  gap: var(--x-size-gap-input-group-default);
  @include safari-gap(var(--x-size-gap-input-group-default));
  height: var(--x-size-height-input-group-default);

  // color
  background-color: var(--x-color-background-input-group-default);
  border-color: var(--x-color-border-input-group-default);
  color: var(--x-color-text-input-group-default);

  // border
  border-block-start-width: var(--x-size-border-width-top-input-group-default);
  border-inline-end-width: var(--x-size-border-width-right-input-group-default);
  border-block-end-width: var(--x-size-border-width-bottom-input-group-default);
  border-inline-start-width: var(--x-size-border-width-left-input-group-default);
  border-radius: var(--x-size-border-radius-top-left-input-group-default)
    var(--x-size-border-radius-top-right-input-group-default)
    var(--x-size-border-radius-bottom-right-input-group-default)
    var(--x-size-border-radius-bottom-left-input-group-default);
  border-style: solid;

  &:focus-within {
    // color
    border-color: var(--x-color-border-input-group-default-focus);
  }

  > *,
  > .x-input,
  > .x-button {
    //layout
    flex: 0 0 auto;

    // typography
    font-family: var(--x-font-family-input-group-default);
    font-size: var(--x-size-font-input-group-default);
    font-weight: var(--x-number-font-weight-input-group-default);
    line-height: var(--x-size-line-height-input-group-default);
  }

  > *:not(.x-input-group__action) {
    // color
    background-color: transparent;
    color: var(--x-color-text-input-group-default);

    // border
    border: none;

    // size
    padding-inline-start: 0;
    padding-inline-end: 0;

    &:first-child {
      padding-inline-start: var(--x-size-padding-left-input-group-default);
    }

    &:last-child {
      padding-inline-end: var(--x-size-padding-right-input-group-default);
    }
  }

  > .x-input {
    //layout
    flex: 1 1 100%;
    min-width: 0;
    border: none;

    > .x-input-placeholder,
    &::placeholder {
      // typography
      color: var(--x-color-text-input-group-placeholder-default);
      font-family: var(--x-font-family-input-group-placeholder-default);
      font-size: var(--x-size-font-input-group-placeholder-default);
      font-weight: var(--x-number-font-weight-input-group-placeholder-default);
      line-height: var(--x-size-line-height-input-group-placeholder-default);
    }
  }

  > .x-button {
    height: var(--x-size-height-input-group-default);
    min-height: var(--x-size-height-input-group-default);
    // need negative margin equals to the border width to make
    // the child border to overlap the parent border.
    margin-block-start: calc(#{var(--x-size-border-width-top-input-group-default)} * -1);
    margin-block-end: calc(#{var(--x-size-border-width-bottom-input-group-default)} * -1);
  }

  > .x-button:not(.x-input-group__action) {
    // typography
    font-weight: var(--x-number-font-weight-input-group-default-button);

    //layout
    &:first-child {
      margin-inline-end: 0;
    }
    &:last-child {
      margin-inline-start: 0;
    }
  }

  > .x-input-group__action {
    // size
    box-sizing: border-box;
    padding: 0 calc(#{var(--x-size-padding-input-group-default-action)} - 1px);
    min-width: var(--x-size-height-input-group-default);
    &:first-child {
      margin-inline-start: calc(#{var(--x-size-border-width-left-input-group-default)} * -1);
    }
    &:last-child {
      margin-inline-end: calc(#{var(--x-size-border-width-right-input-group-default)} * -1);
    }

    // border
    border-radius: var(--x-size-border-radius-top-left-input-group-default)
      var(--x-size-border-radius-top-right-input-group-default)
      var(--x-size-border-radius-bottom-right-input-group-default)
      var(--x-size-border-radius-bottom-left-input-group-default);
  }
}
