:root {
  // color
  --x-color-background-input-group-default: var(--x-color-background-input-default);
  --x-color-border-input-group-default: var(--x-color-border-input-default);
  --x-color-border-input-group-default-focus: var(--x-color-border-input-default-focus);
  --x-color-text-input-group-default: var(--x-color-text-input-default);
  --x-color-text-input-group-placeholder-default: var(--x-color-text-input-placeholder-default);

  // size
  --x-size-height-input-group-default: var(--x-size-height-input-default);
  --x-size-gap-input-group-default: var(--x-size-base-03);
  --x-size-padding-left-input-group-default: var(--x-size-base-06);
  --x-size-padding-right-input-group-default: var(--x-size-padding-left-input-group-default);
  --x-size-padding-input-group-default-action: var(--x-size-base-03);

  // border
  --x-size-border-width-input-group-default: var(--x-size-border-width-input-default);
  --x-size-border-width-top-input-group-default: var(--x-size-border-width-input-group-default);
  --x-size-border-width-right-input-group-default: var(--x-size-border-width-input-group-default);
  --x-size-border-width-bottom-input-group-default: var(--x-size-border-width-input-group-default);
  --x-size-border-width-left-input-group-default: var(--x-size-border-width-input-group-default);

  --x-size-border-radius-input-group-default: var(--x-size-border-radius-input-default);

  --x-size-border-radius-top-left-input-group-default: var(
    --x-size-border-radius-input-group-default
  );
  --x-size-border-radius-top-right-input-group-default: var(
    --x-size-border-radius-input-group-default
  );
  --x-size-border-radius-bottom-right-input-group-default: var(
    --x-size-border-radius-input-group-default
  );
  --x-size-border-radius-bottom-left-input-group-default: var(
    --x-size-border-radius-input-group-default
  );

  // typography
  --x-font-family-input-group-default: var(--x-font-family-input-default);
  --x-size-font-input-group-default: var(--x-size-font-input-default);
  --x-size-line-height-input-group-default: var(--x-size-line-height-input-default);
  --x-number-font-weight-input-group-default: var(--x-number-font-weight-input-default);
  --x-font-family-input-group-placeholder-default: var(--x-font-family-input-group-default);
  --x-size-font-input-group-placeholder-default: var(--x-size-font-input-group-default);
  --x-size-line-height-input-group-placeholder-default: var(
    --x-size-line-height-input-group-default
  );
  --x-number-font-weight-input-group-placeholder-default: var(
    --x-number-font-weight-input-group-default
  );
  --x-number-font-weight-input-group-default-button: var(--x-number-font-weight-base-light);
}
