@import '../../mixins';

.x-input-group {
  // layout
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
  box-sizing: border-box;

  // spacing
  gap: var(--x-space-gap-input-group);
  @include safari-gap(var(--x-space-gap-input-group));

  // color
  background-color: var(--x-color-background-input-group);
  border-color: var(--x-color-border-input-group);
  color: var(--x-color-text-input-group);

  // border
  border-width: var(--x-border-width-input-group);
  border-radius: var(--x-border-radius-input-group);
  border-style: solid;

  &:focus-within {
    // color
    border-color: var(--x-color-border-input-group-focus);
  }

  > *,
  > .x-input,
  > .x-button {
    //layout
    flex: 0 0 auto;

    // typography
    font-family: var(--x-font-family-input-group);
    font-size: var(--x-font-size-input-group);
    font-weight: var(--x-font-weight-input-group);
    line-height: var(--x-font-line-height-input-group);
  }

  > *:not(.x-input-group__action) {
    // color
    background-color: transparent;
    color: var(--x-color-text-input-group);

    // border
    border: none;

    // spacing
    padding: var(--x-space-padding-top-input-group) 0 var(--x-space-padding-bottom-input-group) 0;

    &:first-child {
      padding-left: var(--x-space-padding-left-input-group);
    }

    &:last-child {
      padding-right: var(--x-space-padding-right-input-group);
    }
  }

  > .x-input {
    //layout
    flex: 1 1 100%;
    min-width: 0;
    @include safari {
      margin-top: calc(var(--x-font-size-input-group) * -0.13) !important;
      margin-bottom: calc(var(--x-font-size-input-group) * -0.13) !important;
    }

    &::placeholder {
      // typography
      color: var(--x-color-text-input-group-placeholder);
      font-family: var(--x-font-family-input-group-placeholder);
      font-size: var(--x-font-size-input-group-placeholder);
      font-weight: var(--x-font-weight-input-group-placeholder);
      line-height: var(--x-font-line-height-input-group-placeholder);
    }
  }

  > .x-button:not(.x-input-group__action) {
    // typography
    font-weight: var(--x-font-weight-input-group-button);
  }

  > .x-input-group__action {
    //layout
    align-self: stretch;

    // spacing
    padding: var(--x-space-padding-input-group-action);

    // border
    border-radius: var(--x-border-radius-input-group-action);
    // need negative margin equals to the border width to make
    // the child border to overlap the parent border.
    --x-calculated-margin: calc(#{var(--x-space-margin-input-group-action)} * -1);
    margin-top: var(--x-calculated-margin) !important;
    margin-bottom: var(--x-calculated-margin) !important;
    &:first-child {
      margin-left: var(--x-calculated-margin) !important;
    }
    &:last-child {
      margin-right: var(--x-calculated-margin) !important;
    }
  }

  // spacing
  @include safari-gap(var(--x-space-gap-input-group));
}
