:root {
  // size
  --x-size-padding-left-input-group-line: 0;
  --x-size-padding-right-input-group-line: 0;

  // border
  --x-size-border-width-input-group-line: var(--x-size-border-width-input-group-default);
  --x-size-border-width-top-input-group-line: 0;
  --x-size-border-width-right-input-group-line: 0;
  --x-size-border-width-bottom-input-group-line: var(--x-size-border-width-input-group-line);
  --x-size-border-width-left-input-group-line: 0;
}
