.x-input-group--line .x-input-group,
.x-input-group--line.x-input-group {
  // size
  > *:not(.x-input-group__action) {
    --x-size-padding-top-input-group-default: var(--x-size-padding-top-input-group-line);
    --x-size-padding-right-input-group-default: var(--x-size-padding-right-input-group-line);
    --x-size-padding-bottom-input-group-default: var(--x-size-padding-bottom-input-group-line);
    --x-size-padding-left-input-group-default: var(--x-size-padding-left-input-group-line);
  }

  // border
  --x-size-border-width-top-input-group-default: var(--x-size-border-width-top-input-group-line);
  --x-size-border-width-right-input-group-default: var(
    --x-size-border-width-right-input-group-line
  );
  --x-size-border-width-bottom-input-group-default: var(
    --x-size-border-width-bottom-input-group-line
  );
  --x-size-border-width-left-input-group-default: var(--x-size-border-width-left-input-group-line);

  > .x-input-group__action {
    // size
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
