.x-input-group--line .x-input-group,
.x-input-group--line.x-input-group {
  // spacing
  > *:not(.x-input-group__action) {
    padding: var(--x-space-padding-top-input-group-line) 0
      var(--x-space-padding-bottom-input-group-line) 0;

    &:first-child {
      padding-left: var(--x-space-padding-left-input-group-line);
    }

    &:last-child {
      padding-right: var(--x-space-padding-right-input-group-line);
    }
  }

  // border
  --x-border-width-input-group: var(--x-border-width-input-group-line);
  --x-space-margin-input-group-action: var(--x-space-margin-input-group-action-line);

  > .x-input-group__action {
    // spacing
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
