.x-picture {
  &__image {
    // sizes
    width: 100%;
    height: 100%;

    &--fallback,
    &--placeholder {
      object-fit: contain;
      background-color: var(--x-color-base-neutral-95);
      mix-blend-mode: normal;

      & > rect {
        fill: var(--x-color-base-neutral-95);
      }
      & > path {
        fill: var(--x-color-base-neutral-70);
      }
    }
  }
}
