:root {
  // border
  --x-border-radius-picture: 0;

  // color
  --x-color-background-picture: transparent;
  --x-color-fill-placeholder-path: var(--x-color-neutral-70);
  --x-color-fill-placeholder-rect: var(--x-color-neutral-95);
  --x-color-fill-fallback-path: var(--x-color-neutral-70);
  --x-color-fill-fallback-rect: var(--x-color-neutral-95);

  // others
  --x-object-fit-picture-image: contain;
  --x-object-fit-picture-image-fallback: var(--x-object-fit-picture-image);
  --x-object-fit-picture-image-placeholder: var(--x-object-fit-picture-image);
  --x-mix-blend-mode-picture-image: none;
  --x-mix-blend-mode-picture-image-fallback: var(--x-mix-blend-mode-picture-image);
  --x-mix-blend-mode-picture-image-placeholder: var(--x-mix-blend-mode-picture-image);
}
