:root {
  // border
  --x-size-border-radius-picture-default: 0;
  --x-size-border-radius-top-picture-default: var(--x-size-border-radius-picture-default);
  --x-size-border-radius-right-picture-default: var(--x-size-border-radius-picture-default);
  --x-size-border-radius-bottom-picture-default: var(--x-size-border-radius-picture-default);
  --x-size-border-radius-left-picture-default: var(--x-size-border-radius-picture-default);

  // color
  --x-color-background-picture-default: transparent;
  --x-color-fill-picture-placeholder-path-default: var(--x-color-base-neutral-70);
  --x-color-fill-picture-placeholder-rect-default: var(--x-color-base-neutral-95);
  --x-color-fill-picture-fallback-path-default: var(--x-color-base-neutral-70);
  --x-color-fill-picture-fallback-rect-default: var(--x-color-base-neutral-95);

  // others
  --x-object-fit-picture-default: contain;
  --x-object-fit-picture-fallback-default: var(--x-object-fit-picture-default);
  --x-object-fit-picture-placeholder-default: var(--x-object-fit-picture-default);
  --x-mix-blend-mode-picture-default: none;
  --x-mix-blend-mode-picture-fallback-default: var(--x-mix-blend-mode-picture-default);
  --x-mix-blend-mode-picture-placeholder-default: var(--x-mix-blend-mode-picture-default);
}
