.x-badge {
  // border
  border-radius: var(--x-size-border-radius-badge-default);
  border-style: solid;
  border-width: var(--x-size-border-width-badge-default);
  border-color: var(--x-color-border-badge-default);

  // font
  font-size: var(--x-size-font-badge-default);
  font-weight: var(--x-number-font-weight-badge-default);

  // layout
  box-sizing: border-box;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  // size
  inset-inline-end: calc(var(--x-size-width-badge-default) / var(--x-number-inset-ratio-badge-default));
  inset-block-start: calc(var(--x-size-width-badge-default) / var(--x-number-inset-ratio-badge-default));
  min-width: var(--x-size-width-badge-default);
  height: var(--x-size-width-badge-default);
  transform: translate(50%, -50%);
  padding: 2px;

  // color
  background: var(--x-color-background-badge-default);
  color: var(--x-color-text-badge-default);
}

.x-badge-container {
  // layout
  position: relative;
}
