:root{
  // border
  --x-size-border-radius-input-card: var(--x-size-border-radius-base-s);
  --x-size-border-radius-top-left-input-card: var(--x-size-border-radius-input-card);
  --x-size-border-radius-top-right-input-card: var(--x-size-border-radius-input-card);
  --x-size-border-radius-bottom-right-input-card: var(--x-size-border-radius-input-card);
  --x-size-border-radius-bottom-left-input-card: var(--x-size-border-radius-input-card);
}
