@import '../../mixins';

.x-input {
  // layout
  box-sizing: border-box;
  margin: 0;
  @include safari {
    -webkit-appearance: none;
  }

  // size
  padding: var(--x-size-padding-top-input-default) var(--x-size-padding-right-input-default)
    var(--x-size-padding-bottom-input-default) var(--x-size-padding-left-input-default);

  // color
  background-color: var(--x-color-background-input-default);
  border-color: var(--x-color-border-input-default);
  color: var(--x-color-text-input-default);

  // border
  border-width: var(--x-size-border-width-top-input-default) var(--x-size-border-width-right-input-default)
    var(--x-size-border-width-bottom-input-default) var(--x-size-border-width-left-input-default);
  border-radius: var(--x-size-border-radius-top-left-input-default)
    var(--x-size-border-radius-top-right-input-default) var(--x-size-border-radius-bottom-right-input-default)
    var(--x-size-border-radius-bottom-left-input-default);
  border-style: solid;

  // typography
  font-family: var(--x-font-family-input-default);
  font-size: var(--x-size-font-input-default);
  font-weight: var(--x-number-font-weight-input-default);
  line-height: var(--x-size-line-height-input-default);

  &:focus {
    // color
    border-color: var(--x-color-border-input-default-focus);
  }

  &::placeholder {
    // typography
    color: var(--x-color-text-input-placeholder-default);
    font-family: var(--x-font-family-input-placeholder-default);
    font-size: var(--x-size-font-input-placeholder-default);
    font-weight: var(--x-number-font-weight-input-placeholder-default);
    line-height: var(--x-size-line-height-input-placeholder-default);
  }
}
