@import '../../mixins';

.x-input {
  // layout
  position: relative;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  @include safari {
    -webkit-appearance: none;
  }

  // size
  height: var(--x-size-height-input-default);
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: var(--x-size-padding-left-input-default);
  padding-inline-end: var(--x-size-padding-right-input-default);

  // color
  background-color: var(--x-color-background-input-default);
  border-color: var(--x-color-border-input-default);
  color: var(--x-color-text-input-default);

  // border
  border-block-start-width: var(--x-size-border-width-top-input-default);
  border-inline-end-width: var(--x-size-border-width-right-input-default);
  border-block-end-width: var(--x-size-border-width-bottom-input-default);
  border-inline-start-width: var(--x-size-border-width-left-input-default);
  border-radius: var(--x-size-border-radius-top-left-input-default)
    var(--x-size-border-radius-top-right-input-default)
    var(--x-size-border-radius-bottom-right-input-default)
    var(--x-size-border-radius-bottom-left-input-default);
  border-style: solid;

  // typography
  font-family: var(--x-font-family-input-default);
  font-size: var(--x-size-font-input-default);
  font-weight: var(--x-number-font-weight-input-default);
  line-height: var(--x-size-line-height-input-default);

  &:focus {
    // color
    border-color: var(--x-color-border-input-default-focus);
  }

  > .x-input-placeholder {
    position: absolute;
    height: 100%;
  }

  > .x-input {
    background: none;
    border: none;
    padding: 0;
    flex: 1 1 auto;
  }

  > .x-input-placeholder,
  &::placeholder {
    // typography
    color: var(--x-color-text-input-placeholder-default);
    font-family: var(--x-font-family-input-placeholder-default);
    font-size: var(--x-size-font-input-placeholder-default);
    font-weight: var(--x-number-font-weight-input-placeholder-default);
    line-height: var(--x-size-line-height-input-placeholder-default);
  }
}
