.x-input--pill.x-input,
.x-input--pill .x-input {
  --x-size-border-radius-input-default: var(--x-size-border-radius-input-pill);
  --x-size-border-radius-top-left-input-default: var(--x-size-border-radius-input-pill);
  --x-size-border-radius-top-right-input-default: var(--x-size-border-radius-input-pill);
  --x-size-border-radius-bottom-right-input-default: var(--x-size-border-radius-input-pill);
  --x-size-border-radius-bottom-left-input-default: var(--x-size-border-radius-input-pill);
}
