.x-background {
  &--lead {
    background-color: var(--x-color-base-lead);
  }
  &--auxiliary {
    background-color: var(--x-color-base-auxiliary);
  }
  &--neutral-10 {
    background-color: var(--x-color-base-neutral-10);
  }
  &--neutral-35 {
    background-color: var(--x-color-base-neutral-35);
  }
  &--neutral-70 {
    background-color: var(--x-color-base-neutral-70);
  }
  &--neutral-95 {
    background-color: var(--x-color-base-neutral-95);
  }
  &--neutral-100 {
    background-color: var(--x-color-base-neutral-100);
  }
}
