@import '../base/size.tokens';
@import '../mixins';

.x-border-radius--00 {
  border-radius: 0 !important;
}
.x-border-radius--pill {
  border-radius: 99999px !important;
}

.x-border-radius {
  @each $size, $size-value in $sizes {
    &--#{$size} {
      border-radius: var(--x-size-base-#{$size}) !important;
    }
    &--top-#{$size} {
      border-start-start-radius: var(--x-size-base-#{$size}) !important;
      border-start-end-radius: var(--x-size-base-#{$size}) !important;
    }
    &--bottom-#{$size} {
      border-end-start-radius: var(--x-size-base-#{$size}) !important;
      border-end-end-radius: var(--x-size-base-#{$size}) !important;
    }
    &--right-#{$size} {
      border-start-end-radius: var(--x-size-base-#{$size}) !important;
      border-end-end-radius: var(--x-size-base-#{$size}) !important;
    }
    &--left-#{$size} {
      border-start-start-radius: var(--x-size-base-#{$size}) !important;
      border-end-start-radius: var(--x-size-base-#{$size}) !important;
    }
    &--top-left-#{$size} {
      border-start-start-radius: var(--x-size-base-#{$size}) !important;
    }
    &--top-right-#{$size} {
      border-start-end-radius: var(--x-size-base-#{$size}) !important;
    }
    &--bottom-left-#{$size} {
      border-end-start-radius: var(--x-size-base-#{$size}) !important;
    }
    &--bottom-right-#{$size} {
      border-end-end-radius: var(--x-size-base-#{$size}) !important;
    }
  }
}
