@import '../mixins';

.x-border-radius--00 {
  border-radius: 0 !important;
}
.x-border-radius--pill {
  border-radius: 99999px !important;
}

.x-border-radius {
  @for $i from 1 through 13 {
    $i: zerofill($i);
    &--#{$i} {
      border-radius: var(--x-size-base-#{$i}) !important;
    }
    &--top-#{$i} {
      border-top-left-radius: var(--x-size-base-#{$i}) !important;
      border-top-right-radius: var(--x-size-base-#{$i}) !important;
    }
    &--bottom-#{$i} {
      border-bottom-left-radius: var(--x-size-base-#{$i}) !important;
      border-bottom-right-radius: var(--x-size-base-#{$i}) !important;
    }
    &--right-#{$i} {
      border-top-right-radius: var(--x-size-base-#{$i}) !important;
      border-bottom-right-radius: var(--x-size-base-#{$i}) !important;
    }
    &--left-#{$i} {
      border-top-left-radius: var(--x-size-base-#{$i}) !important;
      border-bottom-left-radius: var(--x-size-base-#{$i}) !important;
    }
    &--top-left-#{$i} {
      border-top-left-radius: var(--x-size-base-#{$i}) !important;
    }
    &--top-right-#{$i} {
      border-top-right-radius: var(--x-size-base-#{$i}) !important;
    }
    &--bottom-left-#{$i} {
      border-bottom-left-radius: var(--x-size-base-#{$i}) !important;
    }
    &--bottom-right-#{$i} {
      border-bottom-right-radius: var(--x-size-base-#{$i}) !important;
    }
  }
}
