@import '../mixins';

.x-shadow--none {
  box-shadow: var(--x-string-box-shadow-none);
}
.x-shadow {
  @for $i from 1 through 10 {
    $i: zerofill($i);
    &--#{$i} {
      box-shadow: var(--x-string-box-shadow-#{$i});
    }
  }
}
