.dev-mode {
  .slot-helper {
    font-family: inherit;
    color: grey;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: dashed 1px grey;
    border-radius: 10px;
  }
}
