.x-line-height--none {
  line-height: 1 !important;
}

.x-line-height--tight {
  line-height: 1.25 !important;
}

.x-line-height--snug {
  line-height: 1.375 !important;
}

.x-line-height--normal {
  line-height: 1.5 !important;
}

.x-line-height--relaxed {
  line-height: 1.625 !important;
}

.x-line-height--loose {
  line-height: 2 !important;
}
