@import '../base/size.tokens';
@import '../mixins';

.x-margin {
  &--auto {
    margin: auto !important;
  }
  &--00 {
    margin: 0 !important;
  }
  @each $size, $size-value in $sizes {
    &--#{$size} {
      margin: var(--x-size-base-#{$size}) !important;
    }
  }

  &--top-auto {
    margin-block-start: auto !important;
  }
  &--bottom-auto {
    margin-block-end: auto !important;
  }
  &--right-auto {
    margin-inline-end: auto !important;
  }
  &--left-auto {
    margin-inline-start: auto !important;
  }

  &--top-00 {
    margin-block-start: 0 !important;
  }
  &--bottom-00 {
    margin-block-end: 0 !important;
  }
  &--right-00 {
    margin-inline-end: 0 !important;
  }
  &--left-00 {
    margin-inline-start: 0 !important;
  }

  @each $size, $size-value in $sizes {
    &--top-#{$size} {
      margin-block-start: var(--x-size-base-#{$size}) !important;
    }
    &--bottom-#{$size} {
      margin-block-end: var(--x-size-base-#{$size}) !important;
    }
    &--right-#{$size} {
      margin-inline-end: var(--x-size-base-#{$size}) !important;
    }
    &--left-#{$size} {
      margin-inline-start: var(--x-size-base-#{$size}) !important;
    }
  }
}
