@import '../variables';

.x-padding {
  &--00 {
    padding: 0 !important;
  }

  @each $size, $size-value in $sizes {
    &--#{$size} {
      padding: var(--x-size-base-#{$size}) !important;
    }
  }

  &--top-00 {
    padding-block-start: 0 !important;
  }
  &--bottom-00 {
    padding-block-end: 0 !important;
  }
  &--right-00 {
    padding-inline-end: 0 !important;
  }
  &--left-00 {
    padding-inline-start: 0 !important;
  }

  @each $size, $size-value in $sizes {
    &--top-#{$size} {
      padding-block-start: var(--x-size-base-#{$size}) !important;
    }
    &--bottom-#{$size} {
      padding-block-end: var(--x-size-base-#{$size}) !important;
    }
    &--right-#{$size} {
      padding-inline-end: var(--x-size-base-#{$size}) !important;
    }
    &--left-#{$size} {
      padding-inline-start: var(--x-size-base-#{$size}) !important;
    }
  }
}
