.x-row.x-row {
  &--background-lead {
    background-color: var(--x-color-base-lead);
  }
  &--background-auxiliary {
    background-color: var(--x-color-base-auxiliary);
  }
  &--background-neutral-10 {
    background-color: var(--x-color-base-neutral-10);
  }
  &--background-neutral-35 {
    background-color: var(--x-color-base-neutral-35);
  }
  &--background-neutral-70 {
    background-color: var(--x-color-base-neutral-70);
  }
  &--background-neutral-95 {
    background-color: var(--x-color-base-neutral-95);
  }
  &--background-neutral-100 {
    background-color: var(--x-color-base-neutral-100);
  }
}
