:root {
  // spacing
  --x-space-gap-row: 0;
  --x-space-padding-row: 0;
  --x-space-justify-row: stretch;
  --x-space-align-row: center;
  --x-space-span-row-item: 1;
  --x-space-start-row-item: 0;
}
