:root {
  --x-space-gap-row-02: var(--x-space-02);
  --x-space-gap-row-03: var(--x-space-03);
  --x-space-gap-row-04: var(--x-space-04);
  --x-space-gap-row-05: var(--x-space-05);
  --x-space-gap-row-06: var(--x-space-06);
}
