:root {
  --x-size-gap-row-02: var(--x-size-base-02);
  --x-size-gap-row-03: var(--x-size-base-03);
  --x-size-gap-row-04: var(--x-size-base-04);
  --x-size-gap-row-05: var(--x-size-base-05);
  --x-size-gap-row-06: var(--x-size-base-06);
}
