name: Check branch is releasable
on: [push, pull_request]
jobs:
  build:
    runs-on: self-hosted
    container: cypress/browsers:node14.17.0-chrome91-ff89
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.SUPPORT_TOKEN }}
      - name: Install lerna and all packages
        run: npm ci
      - name: Run linter in all packages
        run: npm run lint
      - name: Run tests in all packages
        run: npm run test
