name: Check branch is releasable and release alpha on main branch update
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: cypress/browsers:node-16.18.1-chrome-110.0.5481.96-1-ff-109.0-edge-110.0.1587.41-1
      # https://github.com/cypress-io/github-action#firefox Cypress FF image needs this user permissions to be able to install dependencies
      options: --user 1001
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository

    steps:
      - name: checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false

      # Install pnpm because it is not included in our container image
      - name: install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: setup ENV variables
        id: setup-env-vars
        shell: bash
        run: |
          echo "CYPRESS_CACHE_FOLDER=$CYPRESS_CACHE_FOLDER" >> $GITHUB_OUTPUT
          echo "PNPM_STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: setup pnpm cache
        id: pnpm-cache
        uses: actions/cache@v3
        with:
          path: |
            ${{ steps.setup-env-vars.outputs.PNPM_STORE_PATH }}
            ${{ steps.setup-env-vars.outputs.CYPRESS_CACHE_FOLDER }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: setup eslint cache
        uses: actions/cache@v3
        with:
          path: '**/.eslintcache'
          key: eslint-${{github.sha}}
          restore-keys: eslint-

      - name: setup lerna cache
        id: lerna-cache
        uses: actions/cache@v3
        with:
          path: |
            node_modules/.cache
          key: lerna-cache-${{github.sha}}
          restore-keys: lerna-cache-

      - name: install dependencies
        run: pnpm install

#      - name: lint packages
#        run: pnpm run lint

      - name: test packages
        run: pnpm run test

      - name: release alpha on non-release pushes to main branch
        if:
          ${{ github.ref_name == 'main' && github.actor != 'support-empathy' &&
          !startsWith(github.event.head_commit.message, 'chore(release):') }}
        uses: ./.github/actions/release-alpha
        with:
          npm_token: ${{ secrets.NPM_TOKEN }}
          github_token: ${{ secrets.SUPPORT_TOKEN }}
