name: ci

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container: cypress/browsers:node-18.16.0-chrome-112.0.5615.121-1-ff-112.0.1-edge-112.0.1722.48-1
      # https://github.com/cypress-io/github-action#firefox Cypress FF image needs this user permissions to be able to install dependencies

    steps:
      - name: checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false

      # Install pnpm because it is not included in our container image
      - name: install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: setup ENV variables
        id: setup-env-vars
        shell: bash
        run: |
          echo "CYPRESS_CACHE_FOLDER=$CYPRESS_CACHE_FOLDER" >> $GITHUB_OUTPUT
          echo "PNPM_STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: setup pnpm cache
        id: pnpm-cache
        uses: actions/cache@v3
        with:
          path: |
            ${{ steps.setup-env-vars.outputs.PNPM_STORE_PATH }}
            ${{ steps.setup-env-vars.outputs.CYPRESS_CACHE_FOLDER }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: setup eslint cache
        if: ${{ matrix.task == 'lint' }}
        uses: actions/cache@v3
        with:
          path: '**/.eslintcache'
          key: eslint-${{github.sha}}
          restore-keys: eslint-

      - name: setup lerna cache
        id: lerna-cache
        uses: actions/cache@v3
        with:
          path: |
            node_modules/.cache
          key: lerna-cache-${{github.sha}}-${{matrix.task}}
          restore-keys: |
            lerna-cache-${{github.sha}}
            lerna-cache-

      - name: install dependencies
        run: pnpm install

  cypress-run:
    runs-on: ubuntu-latest
    container: cypress/browsers:node-18.16.0-chrome-112.0.5615.121-1-ff-112.0.1-edge-112.0.1722.48-1
    needs: install
    steps:
      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          build: npm run build
          start: npm start

  release:
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - name: Release alpha on non-release pushes to main branch
        if:
          ${{ github.ref_name == 'main' && github.actor != 'support-empathy' &&
          !startsWith(github.event.head_commit.message, 'chore(release):') }}
        uses: ./.github/actions/release-alpha
        with:
          npm_token: ${{ secrets.NPM_TOKEN }}
          github_token: ${{ secrets.SUPPORT_TOKEN }}
