name: Check branch is releasable and release alpha on main branch update
on: [push, pull_request]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    container: cypress/browsers:node14.17.0-chrome91-ff89
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Install lerna and all packages
        run: npm ci
      - name: Run linter in all packages
        run: npm run lint
      - name: Unit tests
        run: npm run test:unit
      - name: Component tests
        run: npm run test:component
      - name: E2E tests
        run: npm run test:e2e:ci
      - name: Release alpha on non-release pushes to main branch
        if:
          ${{ github.ref_name == 'main' && github.actor != 'support-empathy' &&
          !startsWith(github.event.head_commit.message, 'chore(release):') }}
        uses: ./.github/actions/release-alpha
        with:
          npm_token: ${{ secrets.NPM_TOKEN }}
          github_token: ${{ secrets.SUPPORT_TOKEN }}
