name: ci
on: [push, pull_request]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        task: [lint, 'test:unit', 'test:unit-cypress', 'test:e2e:ci']
    name: ${{ matrix.task }}
    container:
      image: cypress/browsers:node-18.16.0-chrome-112.0.5615.121-1-ff-112.0.1-edge-112.0.1722.48-1
      # https://github.com/cypress-io/github-action#firefox Cypress FF image needs this user permissions to be able to install dependencies
      options: --user 1001

    steps:
      - name: checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false

      # Install pnpm because it is not included in our container image
      - name: install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: setup ENV variables
        id: setup-env-vars
        shell: bash
        run: |
          echo "CYPRESS_CACHE_FOLDER=$CYPRESS_CACHE_FOLDER" >> $GITHUB_OUTPUT
          echo "PNPM_STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: setup pnpm cache
        id: pnpm-cache
        uses: actions/cache@v3
        with:
          path: |
            ${{ steps.setup-env-vars.outputs.PNPM_STORE_PATH }}
            ${{ steps.setup-env-vars.outputs.CYPRESS_CACHE_FOLDER }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: setup eslint cache
        if: ${{ matrix.task == 'lint' }}
        uses: actions/cache@v3
        with:
          path: '**/.eslintcache'
          key: eslint-${{github.sha}}
          restore-keys: eslint-

      - name: setup lerna cache
        id: lerna-cache
        uses: actions/cache@v3
        with:
          path: |
            node_modules/.cache
          key: lerna-cache-${{matrix.task}}-${{github.sha}}
          restore-keys: |
            lerna-cache-${{matrix.task}}
            lerna-cache-

      - name: install dependencies
        run: pnpm install

      - name: Run ${{ matrix.task }}
        run: npm run ${{ matrix.task }}
  release:
    if:
      ${{ github.ref_name == 'main' && github.actor != 'support-empathy' &&
      !startsWith(github.event.head_commit.message, 'chore(release):') }}
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
      # Install pnpm because it is not included in our container image
      - name: install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: setup pnpm cache
        id: pnpm-cache
        uses: actions/cache@v3
        with:
          path: |
            ${{ steps.setup-env-vars.outputs.PNPM_STORE_PATH }}
            ${{ steps.setup-env-vars.outputs.CYPRESS_CACHE_FOLDER }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: setup lerna cache
        id: lerna-cache
        uses: actions/cache/restore@v3
        with:
          path: |
            node_modules/.cache
          restore-keys: |
            lerna-cache-${{github.sha}}

      - name: install dependencies
        run: pnpm install

      - name: Release alpha on non-release pushes to main branch
        uses: ./.github/actions/release-alpha
        with:
          npm_token: ${{ secrets.NPM_TOKEN }}
          github_token: ${{ secrets.SUPPORT_TOKEN }}
