name: ci
on: [push, pull_request]
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Use GitHub App token as a workaround to allow bypassing branch-protection rules
      # https://github.com/orgs/community/discussions/13836#discussioncomment-8535364
      - uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e # v2
        id: app-token
        with:
          app-id: ${{ vars.GH_TOKENS_APP_ID }}
          private-key: ${{ secrets.GH_TOKENS_APP_PRIVATE_KEY }}

      - name: checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          token: ${{ steps.app-token.outputs.token }}
          fetch-depth: 0

      - name: Install
        uses: ./.github/actions/install

      - name: Run lint check
        run: pnpm run lint:check

      - name: Run format check
        run: pnpm run format:check

      - name: Run tests
        run: pnpm run test:unit

      - name: Run e2e tests
        timeout-minutes: 15
        uses: ./.github/actions/run-e2e-tests

      - name: release
        if:
          ${{ github.ref_name == 'main' && github.actor != 'support-empathy' &&
          !startsWith(github.event.head_commit.message, 'chore(release):') }}
        uses: ./.github/actions/release-alpha
        with:
          npm_token: ${{ secrets.NPM_TOKEN_GRANULAR_ACCESS }}
          github_token: ${{ steps.app-token.outputs.token }}
