name: EPDocs - Dynamic Content PR creation
on: [workflow_dispatch]
jobs:
  connect-with-edocs:
    runs-on: ubuntu-latest
    steps:
      # Use GitHub App token as a workaround to allow bypassing branch-protection rules
      # https://github.com/orgs/community/discussions/13836#discussioncomment-8535364
      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2
        id: app-token
        with:
          app-id: ${{ vars.GH_TOKENS_APP_ID }}
          private-key: ${{ secrets.GH_TOKENS_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: |
            docs-framework
            x

      - name: Checkout X mono-repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          token: ${{ steps.app-token.outputs.token }}
          fetch-depth: 0
      - name: Get X Components Version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@master
        with:
          path: packages/x-components
      - name: Get branch name
        uses: nelonoel/branch-name@1ea5c86cb559a8c4e623da7f188496208232e49f # v1.0.1
      - name: Trigger eDocs repository action
        run: |
          curl -v -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ steps.app-token.outputs.token }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          -H "Content-Type: application/json" \
          https://api.github.com/repos/empathyco/docs-framework/actions/workflows/epdocs-sync-dynamic-x-docs.yml/dispatches \
          -d '{"ref":"main","inputs":{"branchName":"main","version":"${{ steps.package-version.outputs.current-version }}"}}'

