name: Prepare stable release
on: [workflow_dispatch]
jobs:
  prepare-release:
    runs-on: ubuntu-latest
    container:
      image: cypress/browsers:node-18.16.0-chrome-112.0.5615.121-1-ff-112.0.1-edge-112.0.1722.48-1
      # https://github.com/cypress-io/github-action#firefox Cypress FF image needs this user permissions to be able to install dependencies
      options: --user 1001

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Install pnpm because it is not included in our container image
      - name: install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: install dependencies
        run: pnpm install

      - name: configure git user
        run: |
          git config --local user.email "x@empathy.co"
          git config --local user.name "empathy/x"

      - name: prepare the release
        run: pnpm run prepare-release:stable

      - name: create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ github.token }}
          commit-message: "chore(release): prepare stable release"
          committer: Interface X <x@empathy.co>
          title: "chore(release): prepare stable release"
          body: Release preparation
          branch: release
          delete-branch: true
