name: Prepare stable release
on: [workflow_dispatch]
jobs:
  prepare-release:
    runs-on: ubuntu-latest
    container:
      image: cypress/browsers:node-22.14.0-chrome-135.0.7049.84-1-ff-137.0.1-edge-135.0.3179.54-1@sha256:55119cf831abaff1d4a66cfcdcd617a9dedf5a6183ec2272e24bf657db5f1ce5
      # https://github.com/cypress-io/github-action#firefox Cypress FF image needs this user permissions to be able to install dependencies
      options: --user 1001

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Install
        uses: ./.github/actions/install

      - name: configure git user
        run: |
          git config --local user.email "x@empathy.co"
          git config --local user.name "empathy/x"

      - name: prepare the release
        run: pnpm run prepare-release:stable

      - name: create Pull Request
        uses: peter-evans/create-pull-request@c5a7806660adbe173f04e3e038b0ccdcd758773c # v6
        with:
          token: ${{ github.token }}
          commit-message: "chore(release): prepare stable release"
          committer: Interface X <x@empathy.co>
          title: "chore(release): prepare stable release"
          body: Release preparation
          branch: release
          delete-branch: true
