name: Prepare stable release
on: [workflow_dispatch]
jobs:
  prepare-release:
    runs-on: ubuntu-latest
    container: cypress/browsers:node14.19.0-chrome100-ff99-edge
    steps:
      - name: Update npm
        run: npm install -g npm@7
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install lerna and all packages
        run: npm ci
      - name: Run linter in all packages
        run: npm run lint
      - name: Run tests in all packages
        run: npm run test
      - name: Configure git user
        run: |
          git config --local user.email "x@empathy.co"
          git config --local user.name "empathy/x"
      - name: Prepare the release
        run: npm run prepare-release:stable
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.SUPPORT_TOKEN }}
          commit-message: "chore(release): prepare stable release"
          committer: Interface X <x@empathy.co>
          title: Stable release
          body: Release preparation
          branch: release
          delete-branch: true
