name: Release a new version
on:
  pull_request:
    types: [ closed ]
    branches: [ main ]
jobs:
  release:
    if: github.event.pull_request.merged == true && github.head_ref == 'release'
    runs-on: self-hosted
    container: cypress/browsers:node14.17.0-chrome91-ff89
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.SUPPORT_TOKEN }}
          fetch-depth: 0
      - name: Install lerna and all packages
        run: npm ci
      - name: Run linter in all packages
        run: npm run lint
      - name: Run tests in all packages
        run: npm run test
      - name: Configure git user
        run: |
          git config --local user.email "x@empathy.co"
          git config --local user.name "empathy/x"
      - name: Create .npmrc file with authorization token
        run: echo //registry.npmjs.org/:_authToken=${NPM_TOKEN} > .npmrc
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Publish the release
        run: npm run publish-release
      - name: Push tags
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.SUPPORT_TOKEN }}
          branch: ${{ github.ref }}
          tags: true
