name: Release a new version
on: [workflow_dispatch]
jobs:
  release:
    runs-on: ubuntu-latest
    container:
      image: cypress/browsers:node-22.14.0-chrome-135.0.7049.84-1-ff-137.0.1-edge-135.0.3179.54-1@sha256:55119cf831abaff1d4a66cfcdcd617a9dedf5a6183ec2272e24bf657db5f1ce5
      # https://github.com/cypress-io/github-action#firefox Cypress FF image needs this user permissions to be able to install dependencies
      options: --user 1001

    steps:
      # Use GitHub App token as a workaround to allow bypassing branch-protection rules
      # https://github.com/orgs/community/discussions/13836#discussioncomment-8535364
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        id: app-token
        with:
          app-id: ${{ vars.GH_TOKENS_APP_ID }}
          private-key: ${{ secrets.GH_TOKENS_APP_PRIVATE_KEY }}

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          token: ${{ steps.app-token.outputs.token }}
          fetch-depth: 0

      - name: Install
        uses: ./.github/actions/install

      - name: lint packages
        run: pnpm run lint:check

      - name: Run format check
        run: pnpm run format:check

      - name: Run tests
        run: pnpm run test:unit

      - name: Run e2e tests
        if: false # Temporarily disabled until the e2e are reviewed and updated so that it does not fail intermittently
        timeout-minutes: 15
        uses: ./.github/actions/run-e2e-tests

      - name: configure git user
        run: |
          git config --local user.email "x@empathy.co"
          git config --local user.name "empathy/x"

      - name: configure npm auth
        run: |
          npm config set registry="https://registry.npmjs.org/"
          npm config set //registry.npmjs.org/:_authToken=${NPM_TOKEN}
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN_GRANULAR_ACCESS }}

      - name: publish the release
        run: pnpm run publish-release

      - name: push tags
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ steps.app-token.outputs.token }}
          branch: ${{ github.ref }}
          tags: true
