name: Release a new version
on:
  pull_request:
    types: [ closed ]
    branches: [ main ]
jobs:
  release:
    if: github.event.pull_request.merged == true && github.head_ref == 'release'
    runs-on: ubuntu-latest
    container:
      image: cypress/browsers:node16.16.0-chrome105-ff104-edge
      # https://github.com/cypress-io/github-action#firefox Cypress FF image needs this user permissions to be able to install dependencies
      options: --user 1001

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false

      # Install pnpm because it is not included in our container image
      - name: install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: install dependencies
        run: pnpm install

      - name: lint packages
        run: pnpm run lint

      - name: test packages
        run: pnpm run test

      - name: configure git user
        run: |
          git config --local user.email "x@empathy.co"
          git config --local user.name "empathy/x"

      - name: configure pnpm auth
        run: |
          pnpm config set registry="https://registry.npmjs.org/"
          pnpm config set _authToken=${NPM_TOKEN}
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: publish the release
        run: npm run publish-release

      - name: push tags
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.SUPPORT_TOKEN }}
          branch: ${{ github.ref }}
          tags: true
