name: Release alpha version on demand
on: [workflow_dispatch]
jobs:
  release-alpha:
    runs-on: ubuntu-latest
    container: cypress/browsersnode14.19.0-chrome100-ff99-edge
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Install lerna and all packages
        run: npm ci
      - name: Run linter in all packages
        run: npm run lint
      - name: Run tests in all packages
        run: npm run test
      - name: Call release alpha action
        uses: ./.github/actions/release-alpha
        with:
          npm_token: ${{ secrets.NPM_TOKEN }}
          github_token: ${{ secrets.SUPPORT_TOKEN }}
