name: Release alpha version on demand
on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to release from'
        required: true
        default: 'main'
jobs:
  release-alpha:
    runs-on: ubuntu-latest
    container:
      image: cypress/browsers:node-22.14.0-chrome-135.0.7049.84-1-ff-137.0.1-edge-135.0.3179.54-1@sha256:55119cf831abaff1d4a66cfcdcd617a9dedf5a6183ec2272e24bf657db5f1ce5
      # https://github.com/cypress-io/github-action#firefox Cypress FF image needs this user permissions to be able to install dependencies
      options: --user 1001

    steps:
      # Use GitHub App token as a workaround to allow bypassing branch-protection rules
      # https://github.com/orgs/community/discussions/13836#discussioncomment-8535364
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        id: app-token
        with:
          app-id: ${{ vars.GH_TOKENS_APP_ID }}
          private-key: ${{ secrets.GH_TOKENS_APP_PRIVATE_KEY }}

      - name: checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          token: ${{ steps.app-token.outputs.token }}
          fetch-depth: 0

      - name: Install
        uses: ./.github/actions/install

      - name: execute release-alpha action
        uses: ./.github/actions/release-alpha
        with:
          npm_token: ${{ secrets.NPM_TOKEN_GRANULAR_ACCESS }}
          github_token: ${{ steps.app-token.outputs.token }}
